/* stylelint-disable selector-class-pattern */

:root {
    --docsearch-primary-color: var(--bs-primary);
    --docsearch-spacing: 12px;
    --docsearch-icon-color: var(--bs-body-color);
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-searchbox-height: 56px;
    --docsearch-hit-height: 56px;
    --docsearch-footer-height: 44px;
    --docsearch-text-color: var(--bs-body-color);
    --docsearch-muted-color: var(--bs-secondary-color);
    --docsearch-logo-color: var(--bs-body-color);
    --docsearch-searchbox-background: var(--bs-secondary-bg);
    --docsearch-searchbox-focus-background: var(--bs-secondary-bg);
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--bs-secondary);
    --docsearch-modal-background: var(--bs-secondary-bg);
    --docsearch-modal-shadow: 0 .5rem 1rem rgba(var(--bs-primary-rgb), 20%);
    --docsearch-hit-background: var(--bs-body-bg);
    --docsearch-hit-highlight-color: var(--docsearch-primary-color);
    --docsearch-hit-color: var(--bs-body-color);
    --docsearch-hit-active-color: var(--bs-primary-contrast);
    --docsearch-hit-shadow: none;
    --docsearch-footer-background: var(--bs-tertiary-bg);
    --docsearch-footer-shadow: none;
    --docsearch-key-shadow: none;
    --docsearch-key-gradient: var(--bs-body-color);
    --docsearch-key-background: var(--bs-body-color);
    --docsearch-container-background: rgba(0, 0, 0, .5);

    --docsearch-secondary-text-color: var(--bs-secondary-color);
    --docsearch-search-button-background: var(--bs-secondary-bg);
}

.DocSearch-Container {
    z-index: 9999;
}

.DocSearch-Button {
    margin: 0;
    border-radius: var(--#{$prefix}border-radius);
    @extend .btn;
    @extend .btn-outline-hover-secondary;

    &:hover {
        border: 1px solid var(--bs-secondary);
        box-shadow: unset;
    }

    .DocSearch-Search-Icon {
        color: var(--bs-body-color);
    }

    .DocSearch-Button-Container {
        justify-content: center;
        width: 100%;
    }
}

.DocSearch-Modal {
    overflow: hidden;
    border: 1px solid var(--bs-border-color);
}

.DocSearch-Form {
    border-block-end: unset;
    border-radius: 4px;
    box-shadow: var(--docsearch-searchbox-shadow);
}

.DocSearch-SearchBar {
    padding: var(--docsearch-spacing);
}

.DocSearch-Hit {
    padding-bottom: 0;
    border-radius: 0;

    mark {
        padding: 0;
        text-decoration: none;
    }

    a {
        border-color: var(--bs-border-color);
        border-style: solid;
        border-width: 0 1px 1px;
        border-radius: 0;
    }

    &[aria-selected="true"] {
        .DocSearch-Hit-title,
        .DocSearch-Hit-path,
        .DocSearch-Hit-icon,
        .DocSearch-Hit-Tree,
        .DocSearch-Hit-action,
        .mark,
        mark {
            color: var(--bs-primary-contrast);
        }

        .mark,
        mark {
            font-weight: 700;
            text-decoration: underline;
        }
    }

    &:last-child a {
        border-bottom-right-radius: var(--bs-border-radius);
        border-bottom-left-radius: var(--bs-border-radius);
    }

    &:first-child a {
        border-top-width: 1px;
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }
}

.DocSearch-Hit-content-wrapper {
    overflow: hidden;
}

.DocSearch-Hit-icon {
    display: flex;
}

.DocSearch-Button-Key,
.DocSearch-Commands-Key {
    top: 0;
    height: 20px;
    padding: 0;
    line-height: .875rem;
    color: var(--bs-body-bg);
    text-transform: lowercase;
    background: var(--bs-body-color);
}

.DocSearch-Footer {
    border-top: 0;
    border-radius: 0;
}

.DocSearch-Logo svg {
    .cls-1,
    .cls-2 {
        fill: var(--docsearch-logo-color);
    }
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset:hover,
.DocSearch-Clear,
.DocSearch-Search-Icon,
.DocSearch-Action:hover {
    color: var(--bs-body-color) !important;
}

.DocSearch-Hit-path,
.DocSearch-Hit-icon {
    color: var(--docsearch-muted-color);
}

.DocSearch-Action:hover {
    background: none;
}

.DocSearch-Screen-Icon svg {
    stroke: var(--bs-body-color) !important;
}

@include media-breakpoint-up(md) {
    #docsearchResults {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .DocSearch-Button {
        width: 400px;
        border: 1px solid var(--bs-secondary);

        &:hover {
            border-color: var(--bs-body-color);
        }

        .DocSearch-Button-Container {
            justify-content: start;
        }
    }
}
