/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
// Must use !important flags to override Mermaid CSS properly

/*! purgecss start ignore */
[id^="mermaid-"] {
    background-color: var(--bs-body-bg) !important;
    fill: var(--bs-body-color) !important;

    .edgeLabel {
        color: var(--bs-body-color) !important;
        background-color: var(--bs-body-bg) !important;
    }

    .marker.cross,
    .edgePath .path,
    .flowchart-link,
    .marker,
    [class^="messageLine"] {
        stroke: var(--bs-body-color) !important;
    }

    .pieTitleText,
    .legend text,
    .loopText,
    .loopText > tspan,
    .messageText,
    .marker {
        fill: var(--bs-body-color) !important;
    }

    .pieCircle {
        stroke: var(--bs-dark);
    }

    .slice {
        &:nth-child(3n) {
            // purple background
            fill: var(--bs-white) !important;
        }
    }
}

:root[data-bs-theme="dark"] {
    [id^="mermaid-"] {
        .pieOuterCircle {
            stroke: var(--bs-white) !important;
        }
    }
}

/*! purgecss end ignore */
