/* stylelint-disable-next-line selector-class-pattern */
.noUi-target {
    background: none;
    border: none;
    box-shadow: none;

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-connects {
        background: var(--choco-adaptive);
        border-radius: 10px;

        /* stylelint-disable-next-line selector-class-pattern */
        .noUi-connect {
            background: var(--bs-primary);
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-handle {
        top: -10px;
        width: 40px;
        height: 40px;
        cursor: grab;
        background: var(--bs-primary);
        border: 3px solid var(--bs-body-bg);
        border-radius: 100%;
        box-shadow: none;

        /* stylelint-disable-next-line selector-class-pattern */
        &.noUi-active {
            cursor: grabbing;
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -moz-box-shadow: 0 0 6px var(--choco-adaptive);
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-box-shadow: 0 0 6px var(--choco-adaptive);
            box-shadow: 0 0 6px var(--choco-adaptive);
        }

        &::after,
        &::before {
            top: 10px;
            background: var(--bs-black);
        }

        &::before {
            left: 15px;
        }

        &::after {
            left: 18px;
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-tooltip {
        color: var(--bs-body-bg);
        background: var(--#{$prefix}emphasis-color);
        border-color: var(--#{$prefix}emphasis-color);
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-horizontal .noUi-tooltip {
    bottom: -120%;
}
