/* stylelint-disable selector-class-pattern */
.search-box {
    .algolia-autocomplete {
        width: 100%;

        .ds-dropdown-menu {
            z-index: 99999 !important;
            box-shadow: $box-shadow !important;

            &::before {
                background: var(--choco-theme-background);
                border-color: var(--choco-theme-border);
            }

            .ds-dataset-1 {
                z-index: 1;
                padding: 0;

                > .algolia-docsearch-suggestion {
                    padding: 0;
                    color: var(--choco-theme-text);
                    background: var(--choco-theme-background);

                    .algolia-docsearch-suggestion--wrapper {
                        padding: calc($spacer / 2);
                        border-bottom: 1px solid var(--choco-theme-border);
                    }
                }

                .ds-suggestions {
                    padding: calc($spacer / 2);
                    margin-top: 0;
                    border-bottom: 1px solid var(--choco-theme-border);
                }

                .ds-suggestion {
                    .algolia-docsearch-suggestion {
                        padding: 0;
                        background: var(--choco-theme-background);

                        .algolia-docsearch-suggestion--category-header {
                            display: none;
                            margin-top: 0;
                            color: var(--choco-theme-text);
                            background: var(--choco-theme-background);
                            border-color: var(--choco-theme-border);
                        }

                        .algolia-docsearch-suggestion--wrapper {
                            display: flex;
                            flex-direction: column;
                            padding: calc($spacer / 2) $spacer;
                            border-left: 3px solid transparent;

                            .algolia-docsearch-suggestion--subcategory-column,
                            .algolia-docsearch-suggestion--content {
                                width: 100%;
                                padding: 0;
                                text-align: left;

                                &::before {
                                    display: none;
                                }
                            }

                            .algolia-docsearch-suggestion--subcategory-column {
                                font-size: 1.1rem;
                                font-weight: 700;

                                &::after {
                                    display: none;
                                }
                            }

                            .algolia-docsearch-suggestion--title {
                                margin-bottom: 0;
                                font-size: $font-size-base;
                                font-weight: 400;
                            }

                            .algolia-docsearch-suggestion--title,
                            .algolia-docsearch-suggestion--subcategory-column {
                                color: var(--choco-theme-text);
                                opacity: 1;
                            }

                            .algolia-docsearch-suggestion--text {
                                margin: calc($spacer / 2) 0;
                                color: var(--choco-theme-text-code);
                            }

                            .algolia-docsearch-suggestion--highlight {
                                color: var(--bs-primary);
                                background: none;
                            }
                        }
                    }

                    &.ds-cursor .algolia-docsearch-suggestion--wrapper {
                        background: $primary-opacity-25 !important;
                        border-left: 3px solid var(--bs-primary);

                        .algolia-docsearch-suggestion--content {
                            background: none !important;
                        }
                    }

                    &:not(:first-child) {
                        border-top: 1px solid var(--choco-theme-border);
                    }
                }
            }

            [class^="ds-dataset-"] {
                background: var(--choco-theme-background);
                border-color: var(--choco-theme-border);
            }
        }
    }

    .algolia-docsearch-footer {
        position: relative;
        width: 100%;
        margin: calc($spacer / 2) 0;
        background: var(--choco-theme-background);

        .algolia-docsearch-footer--logo {
            position: absolute;
            right: $spacer;
            width: 133px;
            height: 19px;
            padding: 0;
            margin: 0;
            background-image: url("/assets/images/search-by-algolia-light-background.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .search-box {
            .algolia-docsearch-footer {
                .algolia-docsearch-footer--logo {
                    background-image: url("/assets/images/search-by-algolia-dark-background.svg");
                }
            }
        }
    }
}

[data-user-color-scheme="dark"] {
    .search-box {
        .algolia-docsearch-footer {
            .algolia-docsearch-footer--logo {
                background-image: url("/assets/images/search-by-algolia-dark-background.svg");
            }
        }
    }
}

@media (max-width: 767.98px) {
    // Fixes mobile sizing issue. Taken from https://github.com/algolia/docsearch/issues/181#issuecomment-301730219
    .search-box {
        .algolia-autocomplete {
            .ds-dropdown-menu {
                width: calc(100vw - 34px);
                min-width: calc(100vw - 34px);
                max-width: calc(100vw - 34px);
                margin-top: 19px;
            }
            .algolia-docsearch-suggestion--content {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}
