:root {
    --font: var(--bs-body-font-family);
    --atcb-text: var(--choco-theme-text);
    --atcb-text-2: var(--choco-theme-text);
    --atcb-background: var(--choco-theme-elevation-1);
    --atcb-background-hover: var(--choco-theme-background);
    --atcb-border: var(--choco-theme-border);
    --atcb-modal-background: var(--choco-theme-elevation-1);
    --atcb-modal-buttons-bar: var(--choco-theme-elevation-1);
    --atcb-modal-btn-sec-background: transparent;
    --atcb-modal-btn-background-hover: var(--bs-primary);
    --atcb-modal-btn-text: var(--bs-primary);
    --atcb-modal-btn-text-hover: var(--bs-dark);
    --atcb-modal-btn-sec-text: var(--choco-theme-text);
    --atcb-modal-date-btn-text: var(--choco-theme-text);
    --atcb-modal-date-btn-text-2: var(--choco-theme-text);
    --atcb-modal-date-btn-cal-text: var(--bs-dark);
    --atcb-modal-date-btn-cal-text-2: var(--bs-dark);
    --atcb-modal-date-btn-cal-background: var(--bs-primary);
    --atcb-modal-date-btn-background: var(--choco-theme-elevation-1);
    --atcb-modal-date-btn-background-hover: var(--choco-theme-elevation-1);
    --atcb-shadow-button: none;
    --atcb-shadow-button-hover: none;
    --atcb-shadow-button-active: none;
    --atcb-shadow-list: none;
    --atcb-shadow-list-modal: none;
    --atcb-shadow-modal-date-btn: none;
    --atcb-shadow-modal-date-btn-hover: none;
    --atcb-shadow-modal-button: none;
    --atcb-shadow-modal-button-hover: none;
}

.atcb-modal-content,
.atcb-modal-headline,
.atcb-text {
    color: var(--choco-theme-text);
    text-transform: none;
}

.atcb-modal-icon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--bs-white);

    + .atcb-modal-headline {
        padding-top: 3.6em;
    }

    svg {
        color: var(--choco-theme-text);
    }

    .atcb-icon-ms365 svg {
        fill: var(--icon-ms365-color);
    }

    .atcb-icon-yahoo svg {
        fill: var(--icon-yahoo-color);
    }
}

.atcb-subevent-btn {
    border: 1px solid var(--choco-theme-border);
    transition: .3s;

    &:hover {
        transform: scale(.98);
    }
}

.atcb-date-btn-left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90px;
}

.atcb-button-wrapper {
    padding: 0;
}

button.atcb-modal-btn,
button.atcb-button {
    padding: .375rem .75rem;
    margin: 0;
    color: var(--bs-primary);
    text-transform: none;
    background-color: transparent;
    border: 1px solid var(--bs-primary);
    border-radius: .375rem;

    &:hover,
    &:focus,
    &.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay) {
        padding: .375rem .75rem;
        color: var(--bs-dark);
        background-color: var(--bs-primary);

        .atcb-text {
            color: var(--bs-dark);
        }
    }

    .atcb-text {
        color: var(--bs-primary);
    }
}

.atcb-lg button.atcb-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .5rem;

    &:hover,
    &:focus,
    &.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay) {
        padding: .5rem 1rem;
    }

    .atcb-icon {
        margin-top: -1.1rem;
        margin-right: .75rem;
    }
}

.atcb-link {
    button.atcb-button {
        padding: 0;
        border: 0;

        &:hover,
        &:focus,
        &.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay) {
            padding: 0;
            background: transparent;
            box-shadow: none;

            .atcb-text {
                color: if(color-contrast($primary) == $color-contrast-light, shade-color($primary, $link-shade-percentage), tint-color($primary, $link-shade-percentage));
            }
        }

        .atcb-icon {
            display: none;
        }
    }

    .atcb-button-wrapper {
        padding: 0;
    }

    &.atcb-link-success button.atcb-button {
        .atcb-text {
            color: var(--bs-success);
        }

        &:hover,
        &:focus,
        &.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay) {
            .atcb-text {
                color: if(color-contrast($success) == $color-contrast-light, shade-color($success, $link-shade-percentage), tint-color($success, $link-shade-percentage));
            }
        }
    }
}

.atcb-icon {
    height: 1rem;
    margin-top: -.7rem;
    margin-right: .5rem;
    margin-bottom: 0;
}

// Dropdown
.atcb-list-wrapper {
    width: 165px !important;
}

.atcb-list {
    border: 1px solid var(--choco-theme-border);
    border-radius: .25rem;

    &.atcb-generated-button:not(.atcb-modal) .atcb-list-item:first-child {
        padding: .5rem 1rem;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
}

.atcb-list-item {
    padding: .5rem 1rem;
    border: none;

    .atcb-icon {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
