body {
    &.user-authenticated {
        &.user-site-admin {
            .user-site-admin {
                display: block;
            }
        }

        .user-authenticated:not(.user-site-admin) {
            display: block;
        }

        .user-unauthenticated, .user-site-admin {
            display: none;
        }
    }

    .user-authenticated {
        display: none;
    }

    .user-unauthenticated {
        display: block;
    }
}