/*Background Colors*/
@each $color, $value in $colors {
    .bg-#{$color} {
        background: $value;
    }
}

@each $color, $value in $palette-colors {
    .bg-#{$color} {
        background: $value;
    }
}

@each $color, $value in $palette-colors {
    .fill-#{$color} {
        fill: $value;
    }
}

@each $color, $value in $socialmedia-colors {
    .bg-#{$color} {
        background: $value;

        &:hover {
            background: shade-color($value, 15%);
        }
    }
}

@each $color, $value in $theme-colors {
    .bg-outline-#{$color} {
        border: 1px solid $value;
    }
}

.fill-theme-light-2 {
    fill: $gray-300 !important;
    fill: var(--background-light-2) !important;
}

.bg-github {
    background: var(--theme-opposite);

    &:hover {
        background: var(--theme-opposite-hover);
    }
}

.bg-primary, .bg-success, .bg-danger, .bg-theme-primary {
    h1, h2, h3, h4, h5, h6, p, li {
        color: $white;
        color: var(--background);
    }
}

.bg-theme {
    background: $gray-100 !important;
    background: var(--background) !important;
}

.bg-theme-light {
    background: $white !important;
    background: var(--background-light) !important;
}

.bg-theme-light-2 {
    background: $gray-300 !important;
    background: var(--background-light-2) !important;
}

.bg-theme-primary {
    background: $primary !important;
    background: var(--theme-primary) !important;
}

.bg-theme-primary-light {
    background: $primary-150 !important;
    background: var(--background-primary-light) !important;
}

.bg-theme-opposite {
    background: $gray-900 !important;
    background: var(--theme-opposite) !important;
}

.bg-primary-opacity-25 {
    background: $primary-opacity-25 !important;
}

.bg-theme, .bg-theme-light {
    h3, h4, h5, h6, p, li {
        color: $gray-900;
        color: var(--text);
    }
}

.bg-primary-900 {
    h3, h4, h5, h6, p, li {
        color: $gray-400;
    }
}

/*Background Utilities*/
.bg-img-cover {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 1;
}

/*Background Images*/
.bg-sun-tornado {
    background-image: url("/assets/images/global-shared/svg-backgrounds/sun-tornado.svg");
}

.bg-liquid-cheese {
    background-image: url("/assets/images/global-shared/svg-backgrounds/liquid-cheese.svg");
}

.bg-wintery-sunburst {
    background-image: url("/assets/images/global-shared/svg-backgrounds/wintery-sunburst.svg");
}

.bg-bullseye-gradient {
    background-image: url("/assets/images/global-shared/svg-backgrounds/bullseye-gradient.svg");
}

.bg-geometric-intersection {
    background-image: url("/assets/images/global-shared/svg-backgrounds/geometric-intersection.svg");
}

.bg-cornered-stairs {
    background-image: url("/assets/images/global-shared/svg-backgrounds/cornered-stairs.svg");
}

.bg-snowflake {
    background: url("/assets/images/snowflake-background.png");
    background-repeat: repeat;
}

.bg-desk {
    background: -moz-linear-gradient(-45deg, rgba($primary, 0.8) 0%, rgba($primary, 0.8) 100%), url("/assets/images/headers/c4b-banner.jpg");
    background: -webkit-linear-gradient(-45deg, rgba($primary, 0.8) 0%,rgba($primary, 0.8) 100%), url("/assets/images/headers/c4b-banner.jpg");
    background: linear-gradient(135deg, rgba($primary, 0.8) 0%,rgba($primary, 0.8) 100%), url("/assets/images/headers/c4b-banner.jpg");
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a375a', endColorstr='#e67db9e8',GradientType=1 );
}

.img-berry {
    width: 30px;
}

@include media-breakpoint-up(md) {
    .img-berry {
        width: 40px;
    }
}