html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    word-break: break-word;
    overflow-wrap: break-word;
}

body > .container-fluid {
    flex: 1 0 auto;
}

h1,
h2,
h3,
.display-1,
.display-2,
.display-3,
.display-4 {
    &:not(:first-child):not(.popover-header) {
        margin-top: calc($spacer * 2);
    }
}

h1,
h2,
h3 {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

/*! purgecss start ignore */
*:disabled,
*.disabled {
    font-style: italic !important;
    font-weight: 400 !important;
    cursor: not-allowed;
}

/*! purgecss end ignore */

[data-bs-theme="dark"] .light-theme,
[data-bs-theme="light"] .dark-theme {
    display: none;
}

[data-bs-theme="dark"] .dark-theme,
[data-bs-theme="light"] .light-theme {
    display: block;
}

.breadcrumb,
.chocolatey-license-portal h1.title {
    margin-bottom: $spacer;

    .breadcrumb-item.active {
        color: var(--bs-body-color);
    }
}

.chocolatey-docs h1:not(.title),
.chocolatey-docs main:not(#noSidebar) h2,
.chocolatey-blog #mainContent h1,
.chocolatey-blog #mainContent h2,
.sub-content h1,
.sub-content h2,
.breadcrumb,
.chocolatey-license-portal h1.title,
.border-bottom-primary-opacity
{
    padding-bottom: calc($spacer / 2);
    border-bottom: 3px solid rgba(var(--bs-secondary-rgb), .25);
}

.chocolatey-blog #mainContent > p:first-child,
.chocolatey-design #mainContent > p:first-of-type {
    font-size: $h5-font-size;
}

.sticky-top {
    max-height: 100vh;
    overflow: auto;
}

.sticky-nav-active .sticky-top:not(header) {
    top: 65px;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb,
.DocSearch-Dropdown::-webkit-scrollbar-thumb { /* stylelint-disable-line */
    background: rgba(var(--bs-secondary-rgb), .25);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(var(--bs-secondary-rgb), .25);
}

/* Images & Main Content */
img,
svg {
    max-width: 100%;
    height: auto;
}

.chocolatey-docs #mainContent {
    h1:not(.title):first-of-type {
        display: none;
    }

    h2:first-of-type {
        margin-top: 0;
    }
}

#mainContent,
.sub-content {
    a:not(.anchorjs-link):not(.btn):not(.badge):not(.nav-link):not(.page-link):not(.dropdown-item) {
        padding: 14px 0;
    }

    img {
        border: 1px solid $gray-300;
        border: 1px solid var(--bs-border-color);
    }
}

main {
    margin-bottom: auto;
}

#centeredLayout {
    min-height: var(--mh);
    margin-bottom: 0;
}

// General Show/Fade
.toggle-fade-show-container:not(.show) {
    height: 0;
    overflow: hidden;
}

@include media-breakpoint-up(md) {
    .container-fluid .row:first-child {
        height: 100%;
    }

    #mainContent,
    .sub-content {
        a:not(.anchorjs-link):not(.btn):not(.badge):not(.nav-link):not(.page-link):not(.dropdown-item) {
            padding: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .chocolatey-docs #mainContent {
        h2:first-of-type {
            margin-top: calc($spacer * 2);
        }
    }

    .breadcrumb,
    .chocolatey-license-portal h1.title {
        margin-bottom: calc($spacer * 2);
    }
}
