html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    word-break: break-word;
    overflow-wrap: break-word;
    background: $light;
    background: var(--choco-theme-background);
    color: var(--text);
}

body > .container-fluid {
    flex: 1 0 auto;
}

h1, h2, h3, .display-1, .display-2, .display-3, .display-4 {
    &:not(:first-child) {
        margin-top: calc($spacer * 2);
    }
}

h1, h2, h3 {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.dark-theme .light-theme, .light-theme .dark-theme {
    display: none;
}

.dark-theme .dark-theme, .light-theme .light-theme {
    display: block;
}

.breadcrumb, .chocolatey-license-portal h1.title {
    margin-bottom: $spacer;

    .breadcrumb-item.active {
        color: var(--text);
    }
}

.chocolatey-docs h1:not(.title), .chocolatey-docs main:not(#noSidebar) h2,
.chocolatey-blog #mainContent h1, .chocolatey-blog #mainContent h2,
.sub-content h1, .sub-content h2, .breadcrumb,
.chocolatey-license-portal h1.title, .border-bottom-primary-opacity
{
    padding-bottom: calc($spacer / 2);
    border-bottom: 3px solid $primary-opacity-25;
}

.chocolatey-blog #mainContent > p:first-child,
.chocolatey-design #mainContent > p:first-of-type {
    font-size: $h5-font-size;
}

.sticky-top {
    max-height: 100vh;
    overflow: auto;
}

.sticky-nav-active .sticky-top:not(header) {
    top: 65px;
}

/*Scrollbars*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $primary-opacity-25;
    background: $primary-opacity-25;
}

/*Tables*/
.table {
    word-break: normal;

    thead:not(.text-wrap) {
        white-space: nowrap!important;
    }

    > :not(:first-child) {
        border-top: 2px solid var(--border);
    }
}

.table-dark {
    color: var(--text);
}

.table-thead-d-none thead {
    display: none;
}

.table-col-3 {
    .table-sticky-header > div:first-child, tbody th, thead th {
        width: 40%;
        min-width: 200px;
    }

    .table-sticky-header > div:not(:first-child), tbody td {
        width: 20%;
        min-width: 100px;
    }

    .table-sticky table, .table-sticky-header {
        width: calc(100% - 1px);
        margin: auto;
    }

    .table-sticky-header {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/*Images & Main Content*/
img, svg {
    max-width: 100%;
    height: auto;
}

.chocolatey-docs #mainContent {
    h1:not(.title):first-of-type {
        display: none;
    }

    h2:first-of-type {
        margin-top: 0;
    }
}

#mainContent, .sub-content {
    a:not(.anchorjs-link):not(.btn):not(.badge):not(.nav-link):not(.page-link):not(.dropdown-item) {
        padding: 14px 0;
    }

    img {
        border: 1px solid $gray-300;
        border: 1px solid var(--border);
    }
}

/*Modals*/
.modal, .modal-open {
    padding-right: 0 !important;
}
.modal-backdrop.show {
    opacity: var(--modal-backdrop);
}
.modal-content {
    background: var(--background-light);

    .modal-header, .modal-footer {
        border-color: var(--border)
    }

    .modal-header, .modal-body, .modal-footer {
        background: $white;
        background: var(--background-light);
    }
}

/*Tabs*/
.nav-tabs .nav-link, .nav-tabs, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--border);
}

.nav-tabs .nav-item:not(:last-child) {
    margin-right: calc($spacer / 2);
}

.nav-tabs .nav-link {
    background: var(--background-light);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--text);
    border-color: var(--border);
    background: var(--background-light);
    font-weight: $font-weight-bold;
}

main {
    margin-bottom: auto;
}

#centered-layout {
    min-height: var(--mh);
    margin-bottom: 0;
}

// General Show/Fade
.toggle-fade-show-container:not(.show) {
    height: 0;
    overflow: hidden;
}

@include media-breakpoint-up(md) {
    .container-fluid .row:first-child {
        height: 100%;
    }

    #mainContent, .sub-content {
        a:not(.anchorjs-link):not(.btn):not(.badge):not(.nav-link):not(.page-link):not(.dropdown-item) {
            padding: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .chocolatey-docs #mainContent {
        h2:first-of-type {
            margin-top: calc($spacer * 2);
        }
    }

    .breadcrumb, .chocolatey-license-portal h1.title {
        margin-bottom: calc($spacer * 2);
    }
}