blockquote, .callout {
    padding: $spacer $spacer $spacer 1.75rem;
    margin-bottom: $spacer;
    background: rgba($secondary, .1);
    outline: 1px solid var(--bs-secondary);
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 0 .1rem var(--bs-secondary);

    *:last-child {
        margin-bottom: 0;
    }

    &:after {
        content: "";
        height: calc(100% - 1rem);
        width: .25rem;
        position: absolute;
        left: .5rem;
        top: .5rem;
        border-radius: .25rem;
        background: var(--bs-secondary);
    }

    .callout-header {
        display: none;

        + * {
            margin-top: 1rem;
        }
    }

    @each $color, $value in $theme-colors {
        &.blockquote-#{$color}, &.callout-#{$color} {
            border-color: var(--bs-#{$color});
            outline-color: var(--bs-#{$color});
            background-color: rgba($value, .1);
            box-shadow: 0 0 0 .1rem var(--bs-#{$color});

            &:after {
                 background: var(--bs-#{$color});
            }
        }
    }
}
