blockquote, .callout {
    padding: $spacer;
    margin-bottom: $spacer;
    background: $white;
    background: var(--background-light);
    box-shadow: $box-shadow-sm;
    border-left: 6px solid $secondary;

    *:last-child {
        margin-bottom: 0;
    }

    &.blockquote-warning, &.callout-warning {
        border-color: var(--bs-warning);
    }

    &.blockquote-danger, &.callout-danger {
        border-color: var(--bs-danger);
    }

    &.blockquote-primary, &.callout-primary {
        border-color: var(--bs-primary);
    }

    &.blockquote-success, &.callout-success {
        border-color: var(--bs-success);
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        blockquote, .callout {
            box-shadow: unset;
            outline: 1px solid var(--border);
        }
    }
}

[data-user-color-scheme='dark'] {
    blockquote, .callout {
        box-shadow: unset;
        outline: 1px solid var(--border);
    }
}