.boxstarter-org {
    .h1, .h2, h1, h2 {
        color: var(--text);
    }

    a:not(.nav-link):not(.btn), .btn-link {
        color: var(--bs-primary);
    }

    // Docs area navigation
    main:not(#noSidebar) {
        .breadcrumb, .h1:not(.title), h1:not(.title), .h2, h2, .sub-content .h1, .sub-content .h2, .sub-content h1, .sub-content h2 {
            border-bottom: 1px solid var(--bs-primary);
        }

        #rightSidebarNav, #leftSidebarNav {
            .nav-item .nav-link {
                &.active-page, &:hover {
                    background: var(--background-primary-light);
                }

                &.active, &:hover {
                    color: var(--text) !important;
                    
                    a, .btn-collapse:before {
                        color: var(--text) !important;
                    }
                }
            }
        }
    }

    // Toggle switch
    .theme-toggle + .toggle-slot {
        border-color: var(--border);
    }

    // Tooltips
    .tt:before {
        width: 70px;
        font-size: .75em;
        font-weight: bold;
    }

    // Code
    code:not(code[class*="language-"]) {
        color: var(--text);
        background: var(--background-primary-light);
        padding: 1px 3px;
    }
}

.light-theme {
    .boxstarter-org {
        .btn-primary, .btn-outline-primary:hover,
        .btn-success, .btn-outline-success:hover {
            color: $white;
        }
    }
}
