.btn-close
{
    display: flex;
    align-items: center;
    justify-content: center;
}

// Outline button with badge
.btn-outline-primary {
    &:hover,
    &:active {
        .badge {
            color: var(--bs-primary) !important;
            background: var(--bs-dark) !important;
        }
    }
}

// Navbar toggler
.navbar-toggler {
    &:hover .fa-solid {
        color: $dark;
    }

    .fa-solid {
        color: $primary;
    }
}

// Custom buttons
.btn-link:hover {
    text-decoration: underline;
}

.btn-bg-body,
.btn-bg-body-contrast,
.btn-outline-bg-body,
.btn-outline-bg-body-contrast,
.btn-bg-body-tertiary {
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
}

.btn-bg-body,
.btn-bg-body-contrast,
.btn-outline-bg-body,
.btn-outline-bg-body-contrast,
.btn-bg-body-tertiary,
.btn-top-nav {
    --bs-btn-active-shadow: #{$btn-active-box-shadow};
}

.btn-top-nav {
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--choco-border-color-adaptive);
    --bs-btn-hover-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--choco-border-color-adaptive);
}

.btn-bg-body {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-bg: var(--bs-body-bg);
    --bs-btn-disabled-border-color: var(--bs-body-bg);
}

.btn-bg-body-contrast {
    --bs-btn-color: var(--bs-body-bg);
    --bs-btn-bg: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-bg);
    --bs-btn-hover-bg: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-active-color: var(--bs-body-bg);
    --bs-btn-active-bg: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-bg);
    --bs-btn-disabled-bg: var(--bs-body-color);
    --bs-btn-disabled-border-color: var(--bs-body-color);
}

.btn-bg-body-tertiary {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-tertiary-bg);
    --bs-btn-border-color: var(--bs-tertiary-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-bg: var(--bs-tertiary-bg);
    --bs-btn-disabled-border-color: var(--bs-tertiary-bg);
}

.btn-outline-bg-body {
    --bs-btn-color: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-body-bg);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: var(--bs-body-bg);
    --bs-btn-active-border-color: var(--bs-body-bg);
    --bs-btn-disabled-color: var(--bs-body-bg);
    --bs-btn-disabled-border-color: var(--bs-body-bg);
}

.btn-outline-bg-body-contrast {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-bg);
    --bs-btn-hover-bg: var(--bs-body-color);
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-active-color: var(--bs-body-bg);
    --bs-btn-active-bg: var(--bs-body-color);
    --bs-btn-active-border-color: var(--bs-body-color);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-border-color: var(--bs-body-color);
}

@each $color, $value in $socialmedia-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }

    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

@include media-breakpoint-down(sm) {
    .btn-cta.btn-lg {
        --bs-btn-font-size: 1.25rem;

        &.btn-link {
            padding-left: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    .btn-cta.btn-lg {
        --bs-btn-font-size: 1.75rem;
    }
}

@include media-breakpoint-up(md) {
    .btn-sm.btn-responsive {
        padding: .375rem .75rem;
        font-size: $font-size-base;
        border-radius: $border-radius;
    }
}

@include media-breakpoint-up(xl) {
    .btn-group-featured-events {
        .btn,
        button.atcb-button,
        button.atcb-button:focus,
        button.atcb-button:hover {
            min-width: auto;
            padding: .25rem .5rem !important;
            font-size: .85rem;
        }

        .atcb-icon {
            height: .75rem;
        }
    }
}
