.card {
    background: var(--background-light);

    &.card-index {
        height: 100%;
        margin-left: 15px;
        border: 1px solid transparent;

        .circle {
            position: absolute;
            background: $primary-150;
            background: var(--background-primary-light);
            left: -15px;
            top: 15px;

            i {
                color: var(--bs-primary);
            }
        }

        .card-content {
            color: var(--text);
        }

        :last-child {
            margin-bottom: 0;
        }

        &:hover {
            border: 1px solid $gray-300;
            border: 1px solid var(--border);

            .circle {
                background: var(--bs-primary);

                i {
                    color: $white;
                }
            }
        }
    }
}

a, .video-story {
        .card {
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);
        }
    }
}

.dark-theme body:not(.boxstarter-org) {
    .card {
        border: 1px solid var(--border);
    }
}

.light-theme body:not(.boxstarter-org) {
    .card {
        box-shadow: $card-box-shadow;
    }
}

.navbar-nested-collapse {
    .card {
        border-width: 1px 0 0;
        border-color: $gray-300;
        border-color: var(--border);
        border-style: solid;
        box-shadow: unset;
    }
}