.card {
    background: var(--choco-theme-elevation-1);

    &.card-index {
        height: 100%;
        margin-left: 15px;

        .circle {
            position: absolute;
            top: 15px;
            left: -15px;
            background: var(--choco-theme-primary-light);

            i {
                color: var(--bs-primary);
            }
        }

        .card-content {
            color: var(--choco-theme-text);
        }

        :last-child {
            margin-bottom: 0;
        }

        &:hover {
            .circle {
                background: var(--bs-primary);

                i {
                    color: $dark;
                }
            }
        }
    }

    &.card-link {
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(.98);
        }

        a {
            color: var(--choco-theme-text);
        }
    }

    &.card-blur,
    &.card-blur .card-footer {
        background: rgba(var(--choco-theme-background-rgb), .1);
        backdrop-filter: blur(3px);
    }

    &.card-overlay-bottom {
        height: 560px;
        overflow: hidden;
        background-position: center top;
        background-size: cover;

        &::before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            content: "";
            background-image: -webkit-gradient(linear, right top, right bottom, from(transparent), to($black));
            background-image: linear-gradient(-180deg, transparent, $black);
        }

        &.card-overlay-theme-bottom::before {
            background-image: -webkit-gradient(linear, right top, right bottom, from(transparent), to(var(--choco-theme-elevation-1)));
            background-image: linear-gradient(-180deg, transparent, var(--choco-theme-elevation-1));
        }
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: var(--bs-card-img-overlay-padding);
        border-radius: var(--bs-card-inner-border-radius);
    }

    .card-footer {
        border-top: 0;
    }
}

// TODO: Find all cards wrapped in an a or .video story and add the class .card-link and remove these lines
a,
.video-story {
    .card {
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(.98);
        }
    }
}

.navbar-nested-collapse {
    .card {
        border-width: 1px 0 0;
    }
}
