.card {
    background: var(--background-light);

    &.card-index {
        height: 100%;
        margin-left: 15px;

        .circle {
            position: absolute;
            background: var(--background-primary-light);
            left: -15px;
            top: 15px;

            i {
                color: var(--bs-primary);
            }
        }

        .card-content {
            color: var(--text);
        }

        :last-child {
            margin-bottom: 0;
        }

        &:hover {
            .circle {
                background: var(--bs-primary);

                i {
                    color: $white;
                }
            }
        }
    }

    &.card-link {
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);
        }

        a {
            color: var(--text);
        }
    }
}

// TODO: Find all cards wrapped in an a or .video story and add the class .card-link and remove these lines
a, .video-story {
    .card {
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);
        }
    }
}

.navbar-nested-collapse {
    .card {
        border-width: 1px 0 0;
        border-color: var(--border);
        border-style: solid;
    }
}