// All carousels
.carousel {
    .carousel-inner {
        .carousel-item {
            margin-bottom: $spacer * 3;

            *:last-child {
                margin-bottom: 0;
            }

            .carousel-caption {
                background: $primary-950-opacity-95;
            }
        }
    }

    .carousel-indicators {
        margin-bottom: 0;

        li {
            height: 15px;
            width: 15px;
            border-radius: 100%;
        }
    }

    &:not(.carousel-control-center) .carousel-control-next, &:not(.carousel-control-center) .carousel-control-prev {
        top: unset;
        bottom: 6.5px;
    }

    &.carousel-control-center {
        .carousel-control-next {
            right: -3.5%;
        }
        
        .carousel-control-prev {
            left: -3.5%;
        }
    }
}

#headerCarousel .bg-img-cover {
    border-bottom: 1px solid $gray-300;
    border-bottom: 1px solid var(--border);
}

@include media-breakpoint-up(sm) {
    // Fixed height carousels
    .carousel-h {
        .carousel-inner {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

@include media-breakpoint-up(xl) {
    .carousel {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    right: 10%;
                }
            }
        }
    }

    #headerCarousel .bg-img-cover {
        border: 1px solid $gray-300;
        border: 1px solid var(--border);
    }
}