.card {
    background: var(--background-light);
    box-shadow: $box-shadow-sm;

    &.card-index {
        height: 100%;
        margin-left: 15px;
        border: 1px solid transparent;

        .circle {
            position: absolute;
            background: $primary-150;
            background: var(--background-primary-light);
            left: -15px;
            top: 15px;

            i {
                color: $primary;
            }
        }

        .card-content {
            color: var(--text);
        }

        :last-child {
            margin-bottom: 0;
        }

        &:hover {
            border: 1px solid $gray-300;
            border: 1px solid var(--border);

            .circle {
                background: $primary;

                i {
                    color: $white;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .card {
            box-shadow: unset;
            border: 1px solid $gray-300;
            border: 1px solid var(--border);
        }
    }
}

[data-user-color-scheme='dark'] {
    .card {
        box-shadow: unset;
        border: 1px solid $gray-300;
        border: 1px solid var(--border);
    }
}

.navbar-nested-collapse {
    .card {
        border-width: 1px 0 0;
        border-color: $gray-300;
        border-color: var(--border);
        border-style: solid;
        box-shadow: unset;
    }
}