.ct-legend {
    position: relative;
    z-index: 10;
    font-size: $small-font-size;

    li {
        position: relative;
        padding-left: 17px;
        margin-bottom: 3px;
    }

    li::before {
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        margin-top: 4px;
        content: "";
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive::before {
        background: transparent;
    }

    li:not(:last-child) {
        margin-right: 1rem !important;
    }

    $ct-series-colors: var(--bs-purple), var(--bs-green), var(--bs-yellow), var(--bs-red), var(--bs-orange);

    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: #{nth($ct-series-colors, $i + 1)};
            border-color: #{nth($ct-series-colors, $i + 1)};
        }
    }
}

.chocolatey-license-portal .card-chartist-legend {
    padding-bottom: 75px;

    .ct-golden-section > svg {
        top: 60px;
    }
}

@include media-breakpoint-up(sm) {
    .chocolatey-license-portal .card-chartist-legend {
        padding-bottom: 55px;

        .ct-golden-section > svg {
            top: 40px;
        }
    }
}
