.copy-code-for-view {
    padding: 1rem;

    *:last-child {
        margin-bottom: 0;
    }

    .btn {
        margin: .25rem .125rem;
    }

    + .border-top + .code-toolbar {
        padding: 1rem;

        pre {
            padding-left: 2.8rem;
        }
    }
}
