.btn-collapsing-right-sidebar {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 1030;
    width: auto !important;
    border-radius: 50% 0 0 50%;

    &::before {
        content: none !important;
    }

    .notification-badge {
        top: -10px;
        right: 20px;
        width: 25px;
        height: 25px;
        font-size: 80%;
        line-height: 24px;
    }
}

.btn-collapsing-left-sidebar {
    position: fixed;
    top: 34%;
    left: 0;
    z-index: 1030;
    width: 50px;
    border-radius: 0 .25rem .25rem 0;

    &::before {
        content: none !important;
    }

    .notification-badge {
        top: -10px;
        left: 35px;
        width: 25px;
        height: 25px;
        font-size: 80%;
        line-height: 24px;
    }
}

#collapsingRightSidebar,
#navScriptBuilder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    height: 100vh;
    padding-bottom: 150px;
    margin-left: 0;
    overflow: auto;
    background: var(--choco-theme-elevation-1);
    transition: none;

    a[data-bs-toggle="collapse"]::before {
        content: none !important;
    }
}

#collapsingRightSidebar {
    border-left: 3px solid var(--bs-primary);
}

#navScriptBuilder {
    border-right: 3px solid $secondary;
}

.notification-badge {
    position: absolute;
    font-weight: 700;
    color: var(--choco-theme-background);
    background: var(--bs-danger);
    border: 1px solid $red-300;
    border-radius: 100%;
    writing-mode: horizontal-tb;
}

.btn-announcements.btn-announcement-notifications .notification-badge {
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    font-size: 70%;
    line-height: 18px;
}

@include media-breakpoint-up(sm) {
    .btn-collapsing-right-sidebar {
        right: 380px;

        &.collapsed {
            right: 0;
        }
    }

    #collapsingRightSidebar {
        position: fixed;
        left: auto;
        width: 380px;
        padding-bottom: 1rem;
    }

    .btn-collapsing-left-sidebar {
        left: 350px;

        &.collapsed {
            left: 0;
        }
    }

    #navScriptBuilder {
        position: fixed;
        right: auto;
        width: 350px;
        padding-bottom: 1rem;
    }
}
