.course-list {
    padding-left: 10px;
    list-style-type: none;

    span:not(.additional-module), .fa-angle-right {
        display: none;
    }

    li {
        border-left: 3px solid $gray-300;
        border-left: 3px solid var(--border);
        padding: 0 0 20px 23px;

        a {
            color: var(--text);
            transition: all 0.3s ease;
            padding-bottom: 20px;
            font-weight: 400;
            font-size: .9rem;
        }
    }

    li:hover a.hover, li a:hover, li.active a {
        color: var(--bs-primary);
        font-weight: 700;
    }

    li:last-child {
        border-left: 3px solid transparent;
        padding-bottom: 0;
    }

    li:before {
        border-radius: 50%;
        background-color: $gray-100;
        background-color: var(--choco-theme-background);
        border: 3px solid $gray-300;
        border: 3px solid var(--border);
        content: "";
        float: left;
        height: 20px;
        line-height: 20px;
        margin: 0 1rem 0 -35px;
        width: 20px;
        transition: all 0.3s ease;
    }

    li.completed, li.mod-completed {
        &::before, &::after {
            color: $white;
            color: var(--background-light);
            padding-left: 1px;
        }

        &::before {
            border-color: var(--bs-primary);
            background-color: var(--bs-primary);
            line-height: 16px;
            font-size: 70%;
        }
    }

    li.completed:last-child, li.mod-completed:last-child {
        border-left: 3px solid transparent;
    }

    li:not(.completed):hover:before, li:not(.mod-completed):hover:before, li.active:before {
        border-color: var(--bs-primary);
    }
}

.course-home .course-list {

    span {
        display: block;
        font-weight: 100;
        font-size: 80%;
    }

    .fa-angle-right {
        display: inline-block;
    }

    li a {
        font-weight: 700;
        font-size: initial;
    }
}

#additional-courses {

    .course-list {

        li {
            float: left;
            border-left: 0;
            padding: 0 0 0 25px;

            a {
                margin-left: -33px;

                .additional-module {
                    position: relative;
                    z-index: -99;
                }
            }
        }
    }

    .completed + .btn, .resume + .btn {
        display: none;
    }
}

.level:after {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    content: "";
    margin-left: 5px;
}

.level.intermediate:after {
    background: var(--bs-yellow);
}

.level.beginner:after {
    background: var(--bs-green);
}

.level.advanced:after {
    background: var(--bs-red);
}

.correct, .wrong {
    &::before, &::after {
        margin-left: -22px;
        display: flex;
        margin-top: -3px;
    }
}

.correct {
    &::before, &::after {
        color: var(--bs-green);
    }
}

.wrong {
    &::before, &::after {
        color: var(--bs-red);
    }
}