.curve {
    position: relative;
    height: 40px;
    overflow: hidden;

    &::before {
        position: absolute;
        right: -200px;
        left: -200px;
        content: "";
        border-radius: 100%;
    }

    &.curve-bottom {
        &::before {
            top: 0;
            bottom: -200px;
        }
    }

    &.curve-top {
        &::before {
            top: -200px;
            bottom: 0;
        }
    }

    &.curve-bg-theme-elevation-1,
    &.curve-bg-theme-elevation-1 .curve {
        &::before {
            background: var(--choco-theme-elevation-1);
        }
    }

    &.curve-bg-theme-background,
    &.curve-bg-theme-background .curve {
        &::before {
            background: var(--choco-theme-background);
        }
    }

    &.curve-primary {
        &::before {
            background: var(--bs-primary);
        }
    }
}

.slant-top-end {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

@include media-breakpoint-up(lg) {
    .curve {
        height: 80px;
    }
}
