@import "datatables.net-bs5/css/dataTables.bootstrap5";

// DataTables custom
:root {
    --dt-row-selected: var(--bs-primary-rgb);
}

div.dt-container div {
    .dt-info {
        padding-top: 0;
        margin-right: 0 !important;
    }

    .dt-length {
        display: flex;
        align-items: center;
    
        &::before {
            display: inline-block;
            content: '||';
            color: var(--bs-primary);
            margin: 0 1rem;
        }
    
        select {
            width: fit-content;
            margin-right: .5rem;
        }
    }
}

table.table.dataTable {
    &.table-striped>tbody>tr:nth-of-type(odd)>* {
        box-shadow: unset;
        background: var(--bs-secondary-bg);
    }

    td.dt-type-date,
    td.dt-type-numeric,
    th.dt-type-date,
    th.dt-type-numeric {
        text-align: left;
    }

    tr {
        vertical-align: middle;
    }
}