.row-divider {
    [class*="col-"]:not(:last-child) {
        border-bottom: 1px solid var(--choco-theme-border);
    }
}

@include media-breakpoint-up(sm) {
    .row-divider {
        &.row-sm-divider {
            [class*="col-"]:not(:last-child) {
                border-right: 1px solid var(--choco-theme-border);
                border-bottom: 0;
            }
        }

        &.row-sm-divider-none {
            [class*="col-"]:not(:last-child) {
                border-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .row-divider {
        &.row-md-divider {
            [class*="col-"]:not(:last-child) {
                border-right: 1px solid var(--choco-theme-border);
                border-bottom: 0;
            }
        }

        &.row-md-divider-none {
            [class*="col-"]:not(:last-child) {
                border-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .row-divider {
        &.row-lg-divider {
            [class*="col-"]:not(:last-child) {
                border-right: 1px solid var(--choco-theme-border);
                border-bottom: 0;
            }
        }

        &.row-lg-divider-none {
            [class*="col-"]:not(:last-child) {
                border-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .row-divider {
        &.row-xl-divider {
            [class*="col-"]:not(:last-child) {
                border-right: 1px solid var(--choco-theme-border);
                border-bottom: 0;
            }
        }

        &.row-xl-divider-none {
            [class*="col-"]:not(:last-child) {
                border-bottom: 0;
            }
        }
    }
}
