/* stylelint-disable selector-class-pattern */
.EasyMDEContainer {
    .editor-toolbar {
        border-color: var(--bs-primary);

        button {
            margin: 0 .25rem;
            color: var(--bs-body-color);

            &.active,
            &:hover {
                background: none;
                border-color: var(--bs-primary);
            }
        }

        i.separator {
            border-color: var(--bs-border-color);
        }

        &.fullscreen {
            background: var(--bs-secondary-bg);

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .CodeMirror {
        color: var(--bs-body-color);
        background: var(--bs-secondary-bg);
        border-color: var(--bs-primary);

        span.CodeMirror-selectedtext {
            background: var(--bs-tertiary-bg);
        }

        .CodeMirror-cursor {
            border-left: 1px solid var(--bs-body-color);
        }

        .CodeMirror-placeholder.CodeMirror-line-like {
            z-index: 9 !important;
        }
    }

    .CodeMirror-wrap pre.CodeMirror-line,
    .CodeMirror-wrap pre.CodeMirror-line-like {
        background: var(--bs-secondary-bg);
    }

    .editor-preview {
        background: var(--bs-body-bg);

        pre {
            background: var(--bs-secondary-bg);
            border: 1px solid var(--bs-border-color);
        }
    }

    .editor-preview-side {
        border-color: var(--bs-primary);
    }
}
