.flatpickr .form-control[readonly]:not([disabled]) {
    background: var(--background-light);
}

.flatpickr .flatpickr-input[disabled] {
    cursor: default;
}

.flatpickr-calendar {
    background: var(--background-light);
    box-shadow: none;
    border: 1px solid var(--border);
}

.flatpickr-day.today:not(.selected) {
    border-color: transparent !important;
    background: unset;
    color: var(--background-light-2);
}

.flatpickr-months, .flatpickr-weekdays {
    background: $primary;
}

.flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
    border-top-color: $primary;
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: $primary;
}

.dayContainer {
    margin: .5rem 0;
    padding: 0 .25rem;
}

.flatpickr-day {
    color: var(--text);
}

.flatpickr-weekday, .flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month, .flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month input.cur-year, span.flatpickr-weekday {
    color: var(--background);
}

.flatpickr-months .flatpickr-next-month svg, .flatpickr-months .flatpickr-prev-month svg {
    fill: var(--background);
}

.flatpickr-months .flatpickr-next-month:hover svg, .flatpickr-months .flatpickr-prev-month:hover svg {
    fill: var(--background-primary-light);
}

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover
{
    background: $primary !important;
    border-color: $primary !important;
    color: var(--background) !important;
    font-weight: bold !important;
}

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.prevMonthDay
{
    color: var(--background-light-2);
}

.flatpickr-day.today:not(.selected):hover, .flatpickr-day.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day.nextMonthDay:focus, .flatpickr-day.nextMonthDay:hover, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.prevMonthDay:hover, .flatpickr-day:focus, .flatpickr-day:hover
{
    background: var(--background-light-2);
    border-color: var(--background-light-2);
    color: var(--text);
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    color: initial;
}

.flatpickr-day.inRange {
    -webkit-box-shadow: -5px 0 0 var(--background-light-2), 5px 0 0 var(--background-light-2);
    box-shadow: -5px 0 0 var(--background-light-2), 5px 0 0 var(--background-light-2);
}