/* stylelint-disable selector-class-pattern */

.flatpickr {
    &.input-group {
        .form-control.input {
            border-top-left-radius: $border-radius !important;
            border-bottom-left-radius: $border-radius !important;
        }

        button[data-clear] {
            border-top-right-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;
        }
    }

    .form-control[readonly]:not([disabled]) {
        background: var(--bs-secondary-bg);
    }

    .flatpickr-input[disabled] {
        cursor: default;
    }
}

.flatpickr-calendar {
    background: var(--bs-secondary-bg);
    border: 1px solid var(--bs-border-color);
    box-shadow: none;
}

.flatpickr-day.today:not(.selected) {
    color: unset;
    background: unset;
    border-color: transparent !important;
}

.flatpickr-months,
.flatpickr-weekdays {
    background: var(--bs-primary);
}

.flatpickr-calendar.arrowBottom::before,
.flatpickr-calendar.arrowBottom::after {
    border-top-color: var(--bs-primary);
}

.flatpickr-calendar.arrowTop::after {
    border-bottom-color: var(--bs-primary);
}

.dayContainer {
    padding: 0 .25rem;
    margin: .5rem 0;
}

.flatpickr-day {
    color: var(--bs-body-color);
}

.flatpickr-weekday,
.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year,
span.flatpickr-weekday {
    color: var(--bs-body-bg);
}

.flatpickr-months .flatpickr-next-month svg,
.flatpickr-months .flatpickr-prev-month svg {
    fill: var(--bs-body-bg);
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
    fill: var(--choco-adaptive);
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover
{
    font-weight: 700 !important;
    color: var(--bs-body-bg) !important;
    background: $primary !important;
    border-color: $primary !important;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay
{
    color: var(--bs-tertiary-bg);
}

.flatpickr-day.today:not(.selected):hover,
.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day:hover
{
    color: var(--bs-body-color);
    background: var(--bs-tertiary-bg);
    border-color: var(--bs-tertiary-bg);
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    color: initial;
}

.flatpickr-day.inRange {
    box-shadow: -5px 0 0 var(--bs-tertiary-bg), 5px 0 0 var(--bs-tertiary-bg);
}
