.gitter-chat-embed, .gitter-open-chat-button {
    z-index: 9999;
}

.gitter-chat-embed {
    border-left: 3px solid #5c9fd8;
}

.chocolatey-org .gitter-chat-embed {
    right: 0;
    left: 0;
    border-left: 0;
    border-right: 3px solid #5c9fd8;

    &:after {
        left: 0;
        right: 100%;
    }

    &.is-collapsed:not(.is-loading) {
        transform: translateX(-110%);
    }
}

.chocolatey-org .gitter-open-chat-button {
    right: unset;
    left: 10px;
}

@media (min-width: 720px) {
    .chocolatey-org .gitter-chat-embed {
        right: 60%;
    }
}