.global-nav {
    position: relative;
    z-index: 1;
    background: var(--choco-adaptive);
    border-bottom: 1px solid var(--bs-primary);

    .nav-item {
        flex-basis: 50%;

        .nav-link {
            font-size: .9rem;
            color: var(--bs-body-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .global-nav {
        border-color: var(--bs-border-color);

        .nav-item {
            flex-basis: unset;
        }
    }
}
