.global-nav {
    background: $primary-150;
    background: var(--background-primary-light);
    border-bottom: 1px solid $primary;
    position: relative;
    z-index: 1;

    .nav-item {
        flex-basis: 50%;

        .nav-link {
            font-size: .9rem;
        }
    }
}

@include media-breakpoint-up(sm) {
    .global-nav {
        border-color: $gray-300;
        border-color: var(--border);
    
        .nav-item {
            flex-basis: unset;
        }
    }
}