// Inputs
.form-control, .form-select {
    background-color: var(--background-light);
    color: var(--text);

    &:focus {
        background-color: var(--background-light);
        border-color: var(--bs-primary);
        color: var(--text);
    }

    &:disabled, &[readonly] {
        background-color: var(--background-light-2);
        color: var(--text);
        opacity: 1;
    }
}

// Checkboxes
.form-check {
    .form-check-input {
        border: 1px solid var(--bs-primary);

        &:not(:checked) {
            background-color: var(--background-light);

            &[disabled], &:disabled {
                background-color: var(--background-light-2);
                border-color: $gray-500;
            }
        }

        &.is-invalid {
            border-color: var(--bs-danger);
        }
    }
}

// Custom Switches
.form-switch {
    &.form-switch-active, &.form-switch-expired, &.form-switch-deactivated, &.form-switch-latest {
        .form-check-input {
            background-image: none !important;
            width: 3rem;
            margin-right: .75rem;

            &:active {
                filter: unset;
            }

            &:not(:active):not(:focus) {
                box-shadow: none !important;
            }

            &:after, &:before {
                position: absolute;
                font-family: "Font Awesome 5 Free";
                top: 0;
                content: "\f00c";
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 600;
                font-size: .875em;
                line-height: 1.9;
            }

            &:after {
                left: 0;
            }

            &:checked:after {
                left: 2.1rem;
            }

            &:before {
                left: -5px;
                content: "";
                width: 25px;
                height: 25px;
                border-radius: 100%;
            }

            &:checked:before {
                left: 1.8rem;
            }
        }
    }

    &.form-switch-active .form-check-input {
        &:after {
            content: "\f00c";
            color: $white;
        }

        &:checked, &:before {
            background: var(--bs-success);
        }

        &:before {
            border: 1px solid $green-300;
        }
    }

    &.form-switch-expired .form-check-input {
        &:after {
            content: "\f12a";
            color: $white;
            left: 4.5px;
        }

        &:checked, &:before {
            background: var(--bs-danger);
        }

        &:before {
            border: 1px solid $red-300;
        }

        &:checked:after {
            left: 2.4rem;
        }
    }

    &.form-switch-deactivated .form-check-input {
        &:after {
            content: "\f05e";
            color: $white;
        }

        &:checked, &:before {
            background: $secondary;
        }

        &:before {
            border: 1px solid $gray-300;
        }
    }

    &.form-switch-latest .form-check-input {
        &:after {
            content: "\f005";
            color: var(--bs-warning);
        }

        &:checked {
            background: var(--bs-warning);
        }

        &:before {
            background: var(--background-light-3);
            border: 1px solid var(--bs-warning);
        }
    }
}

// Markdown task lists
.task-list-item {
    .form-check {
        display: inline-block;
        min-height: $spacer;
        margin-right: -$spacer / 2;

        .form-check-input {
            opacity: 1;
            
            &:not(:checked) {
                &[disabled], &:disabled {
                    background: $white;
                    background: var(--background-light);
                    border-color: var(--bs-primary);
                    opacity: 1;
                }
            }
        }
    }
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin: $spacer 0;

        li {
            &:not(:first-child) {
                margin-top: $spacer / 2;
            }

            padding-left: $spacer;
            border-left: 6px solid var(--bs-danger);
            color: var(--bs-danger);
            font-weight: bold;
        }
    }
}

.d-label-none label {
    display: none;
}