// Inputs
.form-control,
.form-select {
    color: var(--bs-body-color);
    background-color: var(--bs-secondary-bg);

    &:focus {
        color: var(--bs-body-color);
        background-color: var(--bs-secondary-bg);
        border-color: var(--bs-primary);
    }

    &:disabled,
    &[readonly] {
        color: var(--bs-body-color);
        background-color: var(--bs-tertiary-bg);
        opacity: 1;
    }
}

// Checkboxes
.form-check {
    .form-check-input {
        border: 1px solid var(--bs-primary);

        &:not(:checked) {
            background-color: var(--bs-secondary-bg);

            &[disabled],
            &:disabled {
                background-color: var(--bs-tertiary-bg);
                border-color: $gray-500;
            }
        }

        &.is-invalid {
            border-color: var(--bs-danger);
        }
    }
}

// Custom Switches
.form-switch {
    &.form-switch-active,
    &.form-switch-expired,
    &.form-switch-deactivated,
    &.form-switch-latest {
        .form-check-input {
            width: 3rem;
            margin-right: .75rem;
            background-image: none !important;

            &:active {
                filter: unset;
            }

            &:not(:active):not(:focus) {
                box-shadow: none !important;
            }

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                display: inline-block;
                width: 25px;
                height: 25px;
                font: var(--fa-font-solid);
                font-size: .875em;
                line-height: 1.7;
                text-align: center;
                content: "";
                border-radius: 100%;
                transform: translateY(-50%);
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }

            &:checked::before,
            &:checked::after {
                right: -1px;
            }

            &:not(:checked)::before,
            &:not(:checked)::after {
                left: -1px;
            }
        }
    }

    &.form-switch-active .form-check-input {
        &::after {
            color: $black;
            content: "\f00c";
        }

        &::before {
            border: 1px solid $green-300;
        }

        &:checked,
        &::before {
            background: var(--bs-success);
        }
    }

    &.form-switch-expired .form-check-input {
        &::after {
            color: $black;
            content: "\21";
        }

        &::before {
            border: 1px solid $red-300;
        }

        &:checked,
        &::before {
            background: var(--bs-danger);
        }
    }

    &.form-switch-deactivated .form-check-input {
        &::after {
            color: $white;
            content: "\f05e";
        }

        &::before {
            border: 1px solid $gray-300;
        }

        &:checked,
        &::before {
            background: $secondary;
        }

        &:not(:checked)::after {
            left: -.5px;
        }

        &:checked::after {
            right: -1.5px;
        }
    }

    &.form-switch-latest .form-check-input {
        &::after {
            color: var(--bs-warning);
            content: "\f005";
        }

        &::before {
            background: var(--bs-secondary-bg);
            border: 1px solid var(--bs-warning);
        }

        &:checked {
            background: var(--bs-warning);
        }

        &:not(:checked)::after {
            left: -1.5px;
        }

        &:checked::after {
            right: -.5px;
        }
    }
}

// Range slider
/* stylelint-disable-next-line selector-class-pattern */
.noUi-target {
    background: none;
    border: none;
    box-shadow: none;

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-connects {
        background: var(--choco-adaptive);
        border-radius: 10px;

        /* stylelint-disable-next-line selector-class-pattern */
        .noUi-connect {
            background: $primary;
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-handle {
        top: -10px;
        width: 40px;
        height: 40px;
        cursor: grab;
        background: $primary;
        border: 3px solid var(--bs-body-bg);
        border-radius: 100%;
        box-shadow: none;

        /* stylelint-disable-next-line selector-class-pattern */
        &.noUi-active {
            cursor: grabbing;
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -moz-box-shadow: 0 0 6px var(--choco-adaptive);
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-box-shadow: 0 0 6px var(--choco-adaptive);
            box-shadow: 0 0 6px var(--choco-adaptive);
        }

        &::after,
        &::before {
            top: 10px;
            background: $black;
        }

        &::before {
            left: 15px;
        }

        &::after {
            left: 18px;
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .noUi-tooltip {
        color: $black;
        background: $primary;
        border-color: $primary;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-horizontal .noUi-tooltip {
    bottom: -120%;
}

// Markdown task lists
.task-list-item {
    .form-check {
        display: inline-block;
        min-height: $spacer;
        margin-right: -.5rem;

        .form-check-input {
            opacity: 1;

            &:not(:checked) {
                &[disabled],
                &:disabled {
                    background: var(--bs-secondary-bg);
                    border-color: var(--bs-primary);
                    opacity: 1;
                }
            }
        }
    }
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    ul {
        padding-left: 0;
        margin: $spacer 0;
        list-style-type: none;

        li {
            &:not(:first-child) {
                margin-top: calc($spacer / 2);
            }

            padding-left: $spacer;
            font-weight: 700;
            color: var(--bs-danger);
            border-left: 6px solid var(--bs-danger);
        }
    }
}

.d-label-none label {
    display: none;
}
