// Inputs
.form-control,
.form-select {
    color: var(--choco-theme-text);
    background-color: var(--choco-theme-elevation-1);

    &:focus {
        color: var(--choco-theme-text);
        background-color: var(--choco-theme-elevation-1);
        border-color: var(--bs-primary);
    }

    &:disabled,
    &[readonly] {
        color: var(--choco-theme-text);
        background-color: var(--choco-theme-neutral);
        opacity: 1;
    }
}

// Checkboxes
.form-check {
    .form-check-input {
        border: 1px solid var(--bs-primary);

        &:not(:checked) {
            background-color: var(--choco-theme-elevation-1);

            &[disabled],
            &:disabled {
                background-color: var(--choco-theme-neutral);
                border-color: $gray-500;
            }
        }

        &.is-invalid {
            border-color: var(--bs-danger);
        }
    }
}

// Custom Switches
.form-switch {
    &.form-switch-active,
    &.form-switch-expired,
    &.form-switch-deactivated,
    &.form-switch-latest {
        .form-check-input {
            width: 3rem;
            margin-right: .75rem;
            background-image: none !important;

            &:active {
                filter: unset;
            }

            &:not(:active):not(:focus) {
                box-shadow: none !important;
            }

            &::after,
            &::before {
                position: absolute;
                top: 0;
                font: var(--fa-font-solid);
                font-size: .875em;
                font-style: normal;
                font-variant: normal;
                line-height: 1.9;
                content: "\f054";
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }

            &::before {
                left: -5px;
                width: 25px;
                height: 25px;
                content: "";
                border-radius: 100%;
            }

            &:checked::before {
                left: 1.8rem;
            }
        }
    }

    &.form-switch-active .form-check-input {
        &::after {
            left: .1rem;
            color: $black;
            content: "\f00c";
        }

        &:checked,
        &::before {
            background: var(--bs-success);
        }

        &::before {
            border: 1px solid $green-300;
        }

        &:checked::after {
            left: 2.2rem;
        }
    }

    &.form-switch-expired .form-check-input {
        &::after {
            left: .35rem;
            color: $black;
            content: "\21";
        }

        &:checked,
        &::before {
            background: var(--bs-danger);
        }

        &::before {
            border: 1px solid $red-300;
        }

        &:checked::after {
            left: 2.45rem;
        }
    }

    &.form-switch-deactivated .form-check-input {
        &::after {
            top: -.03rem;
            left: .04rem;
            color: $white;
            content: "\f05e";
        }

        &:checked,
        &::before {
            background: $secondary;
        }

        &::before {
            border: 1px solid $gray-300;
        }

        &:checked::after {
            left: 2.15rem;
        }
    }

    &.form-switch-latest .form-check-input {
        &::after {
            top: -.03rem;
            left: -.04rem;
            color: var(--bs-warning);
            content: "\f005";
        }

        &:checked {
            background: var(--bs-warning);
        }

        &::before {
            background: var(--choco-theme-elevation-2);
            border: 1px solid var(--bs-warning);
        }

        &:checked::after {
            left: 2.09rem;
        }
    }
}

// Markdown task lists
.task-list-item {
    .form-check {
        display: inline-block;
        min-height: $spacer;
        margin-right: -.5rem;

        .form-check-input {
            opacity: 1;

            &:not(:checked) {
                &[disabled],
                &:disabled {
                    background: var(--choco-theme-elevation-1);
                    border-color: var(--bs-primary);
                    opacity: 1;
                }
            }
        }
    }
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    ul {
        padding-left: 0;
        margin: $spacer 0;
        list-style-type: none;

        li {
            &:not(:first-child) {
                margin-top: calc($spacer / 2);
            }

            padding-left: $spacer;
            font-weight: 700;
            color: var(--bs-danger);
            border-left: 6px solid var(--bs-danger);
        }
    }
}

.d-label-none label {
    display: none;
}
