#leftSidebarNav {
    background: var(--background-light);

    .navbar {
        .navbar-nav {
            flex-direction: column;
            width: 100%;
        }
        
        > .navbar-collapse {
            width: 100%;
            border-bottom: 1px solid var(--border);

            .navbar-nav .nav-item {
                .nav-link {
                    color: var(--text);
                    padding: 0;
    
                    &.active {
                        font-weight: bold;
                    }

                    &:not(.nav-link-collapse) {
                        padding: calc($spacer / 2) $spacer calc($spacer / 2) calc($spacer * 2);
                    }
                }

                .nav-link-collapse {
                    a {
                        width: 100%;
                        padding: calc($spacer / 2) calc($spacer / 4) calc($spacer / 2) 0;
                        color: var(--text);
                    }

                    .btn-collapse {
                        padding: calc($spacer / 2) 0 calc($spacer / 2) $spacer;
    
                        &:before {
                            color: var(--text);
                        }
    
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                @each $color, $value in $colors {
                    &.nav-item-#{$color} {
                        position: relative; 

                        &.active:before, .nav-link.active-page:before, &:hover:before {
                            content: '';
                            height: calc(100% + 4px);
                            width: .25rem;
                            border-radius: .25rem;
                            background: $value;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: -2px;
                        }

                        &.active:first-child:before, &:first-child .nav-link.active-page:before, &:first-child:hover:before {
                            height: calc(100% + 2px);
                            top: 0;
                        }

                        .nav-link {
                            &.active-page, &:hover {
                                background: var(--choco-#{$color}-light);
                            }
                        }

                        .nav-link-collapse.active {
                            .collapsed, .collapsed + a {
                                background: var(--choco-#{$color}-light);
                            }
                        }
                    }
                }
            }
            

            > .navbar-nav > .nav-item > .collapse > .navbar-nav > .nav-item > .nav-link { // Second Level
                &.nav-link-collapse .btn-collapse {
                    padding-left: calc($spacer * 2);
                }

                &:not(.nav-link-collapse) {
                    padding-left: calc($spacer * 3);
                }
            }
            > .collapse > .navbar-nav  > .nav-item  > .nav-link { // Third Level
                &.nav-link-collapse .btn-collapse {
                    padding-left: calc($spacer * 3);
                }

                &:not(.nav-link-collapse) {
                    padding-left: calc($spacer * 4);
                }
            }
            > .collapse > .navbar-nav  > .nav-item > .nav-link { // Fourth Level
                &.nav-link-collapse .btn-collapse {
                    padding-left: calc($spacer * 4);
                }

                &:not(.nav-link-collapse) {
                    padding-left: calc($spacer * 5);
                }
            }
            > .collapse > .navbar-nav > .nav-item > .nav-link { // Fifth Level
                &.nav-link-collapse .btn-collapse {
                    padding-left: calc($spacer * 5);
                }

                &:not(.nav-link-collapse) {
                    padding-left: calc($spacer * 6);
                }
            }
            > .collapse > .navbar-nav > .nav-item > .nav-link { // Sixth Level
                &:not(.nav-link-collapse) {
                    padding-left: calc($spacer * 7);
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #leftSidebarNav {
        top: 0;

        .navbar > .navbar-collapse {
            border-bottom: 0;
        }
    }
}
