#leftSidebarNav {
    background: $white;
    background: var(--background-light);

    .navbar {
        .navbar-nav {
            flex-direction: column;
            width: 100%;
        }
        
        > .navbar-collapse {
            width: 100%;
            border-bottom: 1px solid $gray-300;
            border-bottom: 1px solid var(--border);

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $gray-900;
                        color: var(--text);
                        padding: 0;
        
                        &.active {
                            font-weight: bold;
                        }

                        &.active, &:hover {
                            color: $primary;
        
                            .btn-collapse:before, a {
                                color: $primary;
                            }
                        }
        
                        &.active-page, &:hover {
                            background: $primary-150;
                            background: var(--background-primary-light);
                        }
        
                        &:not(.nav-link-collapse) {
                            padding: $spacer / 2 $spacer $spacer / 2 $spacer * 2;
                        }
                    }

                    .nav-link-collapse {
                        a {
                            width: 100%;
                            padding: $spacer / 2 $spacer / 4 $spacer / 2 0;
                            color: $gray-900;
                            color: var(--text);
                        }

                        .btn-collapse {
                            padding: $spacer / 2 0 $spacer / 2 $spacer;
        
                            &:before {
                                color: $gray-900;
                                color: var(--text);
                            }
        
                            &:focus {
                                box-shadow: none;
        
                                &:before {
                                    color: $primary;
                                }
                            }
                        }

                        &.active {
                            .collapsed, .collapsed + a {
                                background: $primary-150;
                                background: var(--background-primary-light);
                            }
                        }
                    }

                    &:not(.active) {
                        .nav-link-collapse:not(.active) .btn-collapse:not(.collapsed) {
                            &:before, + a {
                                color: $primary;
                            }
                        }
                    }
                    
                    &.active {
                        border-left: 6px solid $primary;
                    }
                }
            }

            > .navbar-nav {
                > .nav-item { // First Level
                    &:not(.active) .nav-link {
                        border-left: 6px solid transparent;

                        &:hover, &.active:not(.nav-link-collapse) {
                            border-left: 6px solid $primary;
                        }

                        &.active:not(.nav-link-collapse) {
                            border-left: 6px solid $primary;
                        }
                    }
                    > .collapse {
                        > .navbar-nav {
                            > .nav-item {
                                > .nav-link { // Second Level
                                    &.nav-link-collapse .btn-collapse {
                                        padding-left: $spacer * 2;
                                    }

                                    &:not(.nav-link-collapse) {
                                        padding-left: $spacer * 3;
                                    }
                                }
                                > .collapse {
                                    > .navbar-nav {
                                        > .nav-item {
                                            > .nav-link { // Third Level
                                                &.nav-link-collapse .btn-collapse {
                                                    padding-left: $spacer * 3;
                                                }

                                                &:not(.nav-link-collapse) {
                                                    padding-left: $spacer * 4;
                                                }
                                            }
                                            > .collapse {
                                                > .navbar-nav {
                                                    > .nav-item {
                                                        > .nav-link { // Fourth Level
                                                            &.nav-link-collapse .btn-collapse {
                                                                padding-left: $spacer * 4;
                                                            }
            
                                                            &:not(.nav-link-collapse) {
                                                                padding-left: $spacer * 5;
                                                            }
                                                        }
                                                        > .collapse {
                                                            > .navbar-nav {
                                                                > .nav-item {
                                                                    > .nav-link { // Fifth Level
                                                                        &.nav-link-collapse .btn-collapse {
                                                                            padding-left: $spacer * 5;
                                                                        }

                                                                        &:not(.nav-link-collapse) {
                                                                            padding-left: $spacer * 6;
                                                                        }
                                                                    }
                                                                    > .collapse {
                                                                        > .navbar-nav {
                                                                            > .nav-item {
                                                                                > .nav-link { // Sixth Level
                                                                                    &:not(.nav-link-collapse) {
                                                                                        padding-left: $spacer * 7;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #leftSidebarNav {
        top: 0;

        .navbar {
            > .navbar-collapse {
                border-bottom: 0;
            }
            
        }
    }
}