html:not(.chocolatey-ccm) {
    body:not(.boxstarter-org) {
        .link-primary,
        .btn-link {
            &:hover,
            &:focus {
                color: var(--bs-link-color-hover) !important;
            }

            color: var(--bs-link-color) !important;
        }
    }
}

.link-underline-none {
    text-decoration: none !important;
}

a {
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
