.list-style-type-disc, .blockquote.list-style-type-disc > ul {
    list-style-type: disc;
}

.list-speaker li:not(:first-child):not(:last-child):after {
    content: ",";
}

#events li:last-child hr {
    display: none;
}

.list-inline {
    margin-bottom: calc($spacer / 4 * 3);

    .list-inline-item {
        margin-bottom: calc($spacer / 4);
    }

    .list-inline-item-lg:not(:last-child) {
        margin-right: calc($spacer * 2);
    }
}

.list-hr > li:not(:last-child) {
    border-bottom: 1px solid $gray-300;
    border-bottom: 1px  solid var(--border);
    padding-bottom: calc($spacer * 1.5);
    margin-bottom: calc($spacer * 1.5);
}

.list-hr-lg > li:not(:last-child) {
    padding-bottom: calc($spacer * 2);
    margin-bottom: calc($spacer * 2);
}

.list-group-item {
    background: var(--background-light);
    border-color: var(--border);
    color: var(--text);

    &.list-group-item-action:hover {
        background-color: var(--background-light-2);
        color: var(--text);
    }
}

.list-circle {
    list-style: none;
    padding-left: 40px;

    &.list-circle-counter {
        counter-reset: circle-counter;

        > li {
            counter-increment: circle-counter;

            &::before {
                content: counter(circle-counter);
            }
        }
    }

    &:not(.list-circle-counter) > li:not([class*="list-circle-content-"])::before {
        font: var(--fa-font-solid);
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: .75rem;
    }

    &.list-circle-success-fade > li::before {
        color: var(--bs-success);
        background: rgba($success, 0.15);
    }

    &.list-circle-danger-fade > li::before {
        color: var(--bs-danger);
        background: rgba($danger, 0.15);
    }

    > li {
        margin: 0 0 0.5rem 0;
        position: relative;

        &::before {
            font-weight: 900;
            position: absolute;
            --size: 25px;
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size) !important;
            width: var(--size);
            height: var(--size);
            top: 0px;
            border-radius: 50%;
            text-align: center;
            background: $gray-300;
            background: var(--background-light-2);
        }

        &.list-circle-content-1::before {
            content: '1';
        }

        &.list-circle-content-2::before {
            content: '2';
        }

        &.list-circle-content-3::before {
            content: '3';
        }

        &.list-circle-content-4::before {
            content: '4';
        }

        &.list-circle-content-5::before {
            content: '5';
        }

        &.list-circle-content-6::before {
            content: '6';
        }
    }

    &.list-circle-md li::before {
        --size: 35px;
        font-size: $h3-font-size;
    }
}

.list-curve {
    margin: auto;

    p {
        border-top: 2px dashed;
        border-color: $gray-300 !important;
        border-color: var(--border) !important;
        margin: 0;
        padding: 15px 30px;
        counter-increment: section;
        position: relative;

        &:nth-child(even) {
            border-left: 2px dashed;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            margin-right: 30px;
            padding-right: 0;

            &::before {
                right: 100%;
                margin-right: -8px;
            }
        }

        &:nth-child(odd) {
            border-right: 2px dashed;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            margin-left: 30px;
            padding-left: 0;

            &::before {
                left: 100%;
                margin-left: -8px;
            }
        }

        &::before, &:last-child::after, &:first-child::after {
            font: var(--fa-font-solid);
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 900;
            position: absolute;
            text-align: center;
            font-size: 1.5rem;
        }

        &:last-child::after, &:first-child::after {
            color: $gray-300;
            color: var(--border);
        }

        &:not(:last-child)::before {
            color: $red-150;
        }

        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0 !important;

            &::before {
                color: $green-150;
                margin-right: -13px;
            }

            &::after {
                bottom: -17px;
                z-index: 1;
                right: 100%;
                margin-right: -8px;
            }
        }

        &:first-child {
            border-top: 0;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0;

            &::after {
                top: -15px;
                left: 100%;
                margin-left: -8px;
            }
        }
    }
}
