#loader {
    background: $gray-100;
    background: var(--choco-theme-background);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    visibility: hidden;
    animation: loaderFade 2s;

    > div {
        height: 90px;
        margin: auto;
        /*Shape*/
        > :first-child {
            width: 75px;
            height: 75px;
            animation: loaderShape 750ms linear infinite;
        }
        /*Shadow*/
        > :nth-child(2) {
            width: 50px;
            height: 5px;
            background: $primary-950;
            opacity: 0.2;
            position: relative;
            top: 30%;
            border-radius: 50%;
            margin: auto;
            animation: loaderShadow 0.5s linear infinite;
        }
    }
}

@keyframes loaderFade {
    0% {
        opacity: 1;
        visibility: visible;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loaderShape {
    25% {
        transform: translateY(9px) rotate(90deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(180deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(270deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes loaderShadow {
    50% {
        transform: scale(1.2, 1);
    }
}