#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    visibility: hidden;
    background: $gray-100;
    background: var(--choco-theme-background);
    animation: loader-fade 2s;

    > div {
        height: 90px;
        margin: auto;

        /* Shape */
        > :first-child {
            width: 75px;
            height: 75px;
            animation: loader-shape 750ms linear infinite;
        }

        /* Shadow */
        > :nth-child(2) {
            position: relative;
            top: 30%;
            width: 50px;
            height: 5px;
            margin: auto;
            background: $primary-950;
            border-radius: 50%;
            opacity: .2;
            animation: loader-shadow .5s linear infinite;
        }
    }
}

@keyframes loader-fade {
    0% {
        visibility: visible;
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loader-shape {
    25% {
        transform: translateY(9px) rotate(90deg);
    }

    50% {
        border-bottom-right-radius: 40px;
        transform: translateY(18px) scale(1, .9) rotate(180deg);
    }

    75% {
        transform: translateY(9px) rotate(270deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes loader-shadow {
    50% {
        transform: scale(1.2, 1);
    }
}
