/* Package List View */
.package-list-view li:last-child hr {
    display: none;
}

/* Package Grid View */
.package-grid-view .card-body .flex-fill > :nth-child(2) {
    margin-left: -65px;
}

/* Package Icon & Background */
.package-image-header {
    width: 50px;
    min-width: 50px;
    max-width: 50px;

    img {
        max-height: 30px;
    }
}

.package-icon {
    padding: .5rem;
    background: $white;
    border: 1px solid var(--choco-theme-border);
    border-radius: .25rem;
}

/* Package Sidebar */
#packageSidebar .package-logo {
    max-width: 40px;
}

#packageSidebar img:not(.package-logo) {
    max-width: 100%;
}

/* Chat */
.table-hover tbody tr[id*="divVersion"]:hover {
    color: initial;
    background: none;
}

.comments-list-container {
    max-height: 900px;
    overflow: auto;
}

.comments-list,
.comments-list > span {
    display: flex;
    flex-flow: column;
}

.comments-list {
    > span {
        position: relative;
        max-width: 80%;
        padding: 15px;
        margin-bottom: 30px;
        background: var(--choco-theme-neutral);
        border-radius: .25rem;
    }

    .comment-date {
        order: 3;
        margin-bottom: 0;
        font-size: 70%;
        font-style: italic;
        font-weight: lighter;
    }

    p.comment-body {
        margin-bottom: 1rem;
    }
}

.chat-left {
    margin-right: auto;

    &::after {
        left: 20px;
        border-right: 20px solid transparent;
    }
}

.chat-right {
    align-items: flex-end;
    margin-left: auto;

    &::after {
        right: 20px;
        border-left: 20px solid transparent;
    }

    .comment-body {
        align-self: flex-start;
    }
}

.chat-right::after,
.chat-left::after {
    position: absolute;
    bottom: -20px;
    content: "";
    border-top: 20px solid $gray-300;
    border-top: 20px solid var(--choco-theme-neutral);
}

.btn-load-more:hover {
    cursor: pointer;
    opacity: .6;
}

// Description
.chocolatey-org #description h1 {
    text-transform: none;
}

// Search selected tags/authors/query
.btn-check.selected-search-term {
    &:checked + .btn-primary.selected-search-term-label,
    + .btn-outline-primary.selected-search-term-label:hover {
        color: var(--bs-dark);
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    &:active + .btn-primary.selected-search-term-label,
    &:focus + .btn-primary.selected-search-term-label,
    + .btn-primary.selected-search-term-label:hover {
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-border-color);
    }

    + .selected-search-term-label:not(.btn-primary) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
        border-bottom: 1px solid var(--choco-theme-border);
        border-radius: 0;

        .badge {
            top: 0;
        }
    }

    + .selected-search-term-label.btn-primary {
        --bs-btn-padding-y: 2px;
    }
}

@include media-breakpoint-up(md) {
    #packageSidebar .package-logo {
        max-width: 150px;
    }
}

@include media-breakpoint-up(lg) {
    .package-list-view .package-list-align {
        padding-left: 67px;
    }
}
