.page-link {
    background-color: unset;
    border: 1px solid var(--border);

    &:hover, &:focus {
        background-color: var(--background-light-2);
        border-color: var(--background-light-2);
    }
}

.page-item.disabled .page-link {
    background: unset;
    border-color: var(--border);
}