.placeholder-container div {
    &:first-child {
        opacity: .3;
    }

    &:last-child {
        filter: saturate(2);
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .placeholder-container div {
            &:first-child {
                filter: invert(1);
            }
        }
    }
}
  
[data-user-color-scheme='dark'] {
    .placeholder-container div {
        &:first-child {
            filter: invert(1);
        }
    }
}