[data-license-type="Professional"] {
    #formLicenseCount,
    #formOrganizationName,
    #formIsPerpetual,
    .btn-add-cc-bcc,
    .automatic-bcc  {
        display: none;
    }
}

[data-license-type="Architect"],
[data-license-type="ManagedServiceProvider"] {
    #formName,
    #formIsPerpetual {
        display: none;
    }
}

[data-license-type="Business"],
[data-license-type="Trial"] {
    #formName {
        display: none;
    }
}

[data-license-type="Trial"] {
    #formCheckboxContainer {
        display: none !important;
    }
}

// Status table cell
.status-cell {
    .circle.text-bg-success {
        border: 1px solid $green-300;
    }

    .circle.text-bg-danger {
        border: 1px solid $red-300;
    }

    .circle.text-bg-secondary {
        border: 1px solid $gray-300;
    }

    .circle.bg-body-secondary {
        border: 1px solid var(--bs-warning);
    }
}

// Notes table cell
.notes-cell > *:last-child {
    margin-bottom: 0;
}
