[data-license-type="professional"] {
    #Form_LicenseCount, #Form_OrganizationName, #Form_IsPerpetual, .btn-add-cc-bcc, .automatic-bcc  {
        display: none;
    }
}

[data-license-type="architect"], [data-license-type="managed-service-provider"] {
    #Form_Name,  #Form_IsPerpetual {
        display: none;
    }
}

[data-license-type="business"] { 
    #Form_Name {
        display: none;
    }
}

// Status table cell
.status-cell {
    .circle.bg-success {
        border: 1px solid $green-300;
    }

    .circle.bg-danger {
        border: 1px solid $red-300;
    }

    .circle.bg-secondary {
        border: 1px solid $gray-300;
    }

    .circle.bg-theme-light-3 {
        border: 1px solid $warning;
    }
}

// Notes table cell
.notes-cell > *:last-child {
    margin-bottom: 0;
}