[data-license-type="professional"] {
    #Form_LicenseCount, #Form_OrganizationName, #Form_IsPerpetual, .btn-add-cc-bcc, .automatic-bcc  {
        display: none;
    }
}

[data-license-type="architect"], [data-license-type="managed-service-provider"] {
    #Form_Name,  #Form_IsPerpetual {
        display: none;
    }
}

[data-license-type="business"] { 
    #Form_Name {
        display: none;
    }
}