/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+csharp+diff+json+powershell+puppet+python+ruby+scss+shell-session+xml-doc+yaml&plugins=line-numbers+toolbar+copy-to-clipboard+diff-highlight */

/**
* prism.js default theme for JavaScript, CSS and HTML
* Based on dabblet (http://dabblet.com)
* @author Lea Verou
*/
// $success-text-emphasis-dark

:root,
:root[data-bs-theme="light"] {
    code {
        --bs-prism-red: #{$red};
        --bs-prism-green: #{$green};
        --bs-prism-orange: #{$orange};
        --bs-prism-purple: #{$purple};
    }
}

:root[data-bs-theme="dark"] {
    code {
        --bs-prism-red: #{$red-text-emphasis-dark};
        --bs-prism-green: #{$green-text-emphasis-dark};
        --bs-prism-orange: #{$orange-text-emphasis-dark};
        --bs-prism-purple: #{$purple-text-emphasis-dark};
    }
}

code {
    font-weight: 700;
}

pre.d-format-none {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
}

code[class*="language-"],
pre[class*="language-"] {
    margin-bottom: 1rem;
    font-family: var(--bs-font-monospace);
    font-size: .85rem;
    font-weight: 700;
    color: var(--bs-body-color);
    text-shadow: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: rgba($primary, .2);
}

/* Code blocks */
pre[class*="language-"] {
    max-height: 500px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--bs-secondary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: .25rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    font-weight: 400;
    color: var(--bs-secondary-color);
}

.token.punctuation {
    color: var(--bs-body-color);
}

.token.namespace {
    opacity: 1;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--bs-prism-red);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url {
    color: var(--bs-primary);
}


// These styles are currently not used and may need updated in the future
.token.operator,
.token.entity,
.language-css .token.string,
.style .token.string {
    color: var(--bs-prism-orange);
    background: none;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--bs-prism-orange);
}

.token.function,
.token.class-name {
    color: var(--bs-prism-purple);
}

.token.regex,
.token.important,
.token.variable,
.token.inserted {
    color: var(--bs-prism-green);
}

.line-numbers .line-numbers-rows {
    border-right: 1px solid var(--bs-primary);
}

.line-numbers-rows > span::before {
    color: $gray-500;
}

div.code-toolbar > .toolbar {
    top: .8rem;
    right: 1rem;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
    padding: .25em .5em;
    font-size: .8em;
    color: $white;
    background: $gray-600;
    border-radius: .25em;
    box-shadow: none;
}

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    background-color: rgba($red, .2);
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    background-color: rgba($green, .2);
}

// Chocolatey diff highlighting specific
.token.inserted-sign .inserted,
.token.deleted-sign .deleted,
.token.unchanged .unchanged {
    margin-right: 1rem;
    margin-left: .5rem;
}

.token.coord {
    display: inline-block;
    width: 100%;
    padding: .5rem 0 .5rem 1rem;
    color: $secondary;
    background: rgba($secondary, .15);
}

// Chocolatey toolbar specific
.code-static-toolbar + .toolbar {
    top: -2.2rem !important;
    opacity: 1 !important;
}
