#rightSidebarNav {
    font-size: $small-font-size;
    
    .card.card-body {
        background: $white;
        background: var(--background-light);
    }

    .nav-item .nav-link {
        display: block;
        padding: .5rem 0 .5rem 1rem;
        position: relative;

        &:before {
            content: '';
            height: calc(100% + 4px);
            width: .25rem;
            border-radius: .25rem;
            background: transparent;
            display: block;
            position: absolute;
            left: 0;
            top: -2px;
        }

        &.active, &:hover {
            color: var(--bs-primary);
            background: $primary-opacity-25;

            &:before {
                background: var(--bs-primary);
            }
        }

        &.active {
            font-weight: bold;
        }
    }
}

@include media-breakpoint-up(xl) {
    #rightSidebarNav .card.card-body {
        background: none;
    }
}
