.search-box {
    display: flex;
    position: relative;
    z-index: 4;

    &.search-d-submit.search-d-none-close {
        z-index: 2;
    }

    .twitter-typeahead {
        width: 100%;
    }

    .tt-dataset-0 {
        strong {
            color: var(--bs-primary);
        }

        .bg-theme {
            border-left: 1px solid var(--border);
            border-right: 1px solid var(--border);
            border-bottom: 1px solid var(--border);

            &:not(.no-results):hover {
                background: var(--background-light-2) !important;
                cursor: pointer;
            }
        }
    }

    .fa-search {
        position: absolute;
        z-index: 1;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
        color: $primary-opacity-25;
    }

    .search-help {
        display: none;

        .arrow-up {
            z-index: 1;
            top: .3rem;
            left: .75rem;
            width: 0;
            height: 0;
            border-left: solid transparent;
            border-right: solid transparent;
            border-bottom: solid $gray-100;
            border-bottom: solid var(--border);
            border-width: 0 .75rem .75rem;
    
            .arrow-up-inner {
                top: .1rem;
                left: -.75rem;
                width: 0;
                height: 0;
                border-left: solid transparent;
                border-right: solid transparent;
                border-bottom: solid $gray-300;
                border-bottom: solid var(--background);
                border-width: 0 .75rem .75rem;
            }
        }
    }

    input {
        padding-left: 35px;

        &:hover {
            box-shadow: 0 0 0 0.2rem $primary-opacity-25;
        }

        &:focus, &:hover {
            + .fa-search {
                color: $primary;
            }
        }
    }

    &:focus-within .search-help {
        display: block;
    }
}

#topNav .search-box {
    display: none;
}

.chocolatey-org #topNav.active-search {
    .navbar-nav, label[for="themeToggle"], .btn-top-nav, .navbar-brand {
        display: none;
    }

    .search-box {
        display: flex;
        flex: auto;
    }

    .navbar-links {
        margin-left: 0 !important;
        width: 100%;
    }
}

.chocolatey-docs #topNav.active-search {
    .navbar-nav, .navbar-brand, .navbar-toggler {
        display: none;
    }

    .search-box {
        display: flex;
        flex: auto;
    }

    .search-box {
        &:focus-within, &:hover {
            .fa-search {
                color: $primary;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .search-box {
        &.search-d-none-submit .search-key-container {
            right: 12px;
        }

        &.search-d-submit:not(.search-d-none-close) .search-key-container {
            right: 136px;
        }

        &.search-d-submit.search-d-none-close .search-key-container {
            right: 92px;
        }

        .search-key-container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            .badge-key:not(:last-child) {
                margin-right: $spacer / 4;
            }
        }

         input:not(.search-d-none-key-container) {
             padding-right: 90px;
         }
    }

    #topNav .search-box {
        position: absolute;
        right: auto;
    }

    .chocolatey-org #topNav.active-search {
        .navbar-brand {
            display: block;

            img {
                top: -70px;
            }
        }

        .search-box, .navbar-links {
            flex: unset;
        }

        .navbar-links {
            margin-left: auto !important;
        }

        .search-box {
            left: 24%;
            width: 58%;
        }
    }

    .chocolatey-docs #topNav.active-search {
        .navbar-brand, .navbar-nav {
            display: flex;
        }

        .search-box {
            display: flex;
            flex: unset;
            left: 25%;
            width: 53%;
        }
    }
}

@include media-breakpoint-up(xl) {
    .chocolatey-docs #topNav.active-search .search-box, .chocolatey-org #topNav.active-search .search-box {
        left: 50%;
        right: 50%;
        transform: translate(-50%, 0);
        //z-index: 1;
        width: 700px;
    }
} 

@include media-breakpoint-up(xxl) {
    .chocolatey-org #topNav.active-search {
        .navbar-nav {
            display: flex;
        }

        .navbar-brand img {
            top: -58px;
        }

        .navbar-links {
            width: auto;
        }
    }
} 