.search-box {
    display: flex;
    position: relative;

    .fa-search {
        position: absolute;
        z-index: 1;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
        color: $primary-opacity-25;
    }

    input {
        padding-left: 35px;

        &:hover {
            box-shadow: 0 0 0 0.2rem $primary-opacity-25;
        }

        &:focus, &:hover {
            + .fa-search {
                color: $primary;
            }
        }
    }
}

#topNav .search-box {
    display: none;
}

.chocolatey-org #topNav.active-search {
    .navbar-nav, label[for="themeToggle"], .btn-top-nav, .navbar-brand {
        display: none;
    }

    .search-box, .navbar-links {
        display: flex;
        flex: auto;
    }

    .navbar-links {
        margin-left: 0 !important;
    }
}

.chocolatey-docs #topNav.active-search {
    .navbar-nav, .navbar-brand, .navbar-toggler {
        display: none;
    }

    .search-box {
        display: flex;
        flex: auto;
    }

    .search-box {
        &:focus-within, &:hover {
            .fa-search {
                color: $primary;
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .search-box {
        &.search-d-none-submit .search-key-container {
            right: 12px;
        }

        &.search-d-submit .search-key-container {
            right: 136px;
        }

        .search-key-container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            .badge-key:not(:last-child) {
                margin-right: $spacer / 4;
            }
        }

         input {
             padding-right: 90px;
         }
    }

    #topNav .search-box {
        position: absolute;
        right: auto;
    }

    .chocolatey-org #topNav.active-search {
        .navbar-nav {
            display: flex;
        }

        .navbar-brand {
            display: block;
        }

        .search-box, .navbar-links {
            flex: unset;
        }

        .navbar-links {
            margin-left: auto !important;
        }

        .search-box {
            left: 24%;
            width: 58%;
        }
    }

    .chocolatey-docs #topNav.active-search {
        .navbar-nav, .navbar-brand {
            display: flex;
        }

        .search-box {
            display: flex;
            flex: unset;
            left: 25%;
            width: 53%;
        }
    }
}

@include media-breakpoint-up(xl) {
    .chocolatey-docs #topNav.active-search .search-box, .chocolatey-org #topNav.active-search .search-box {
        left: 50%;
        right: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 700px;
    }

    .chocolatey-org #topNav.active-search {
        .navbar-nav {
            display: none;
        }
    }
} 