@each $color, $value in $colors {
    .text-#{$color} {
        color: var(--bs-#{$color}) !important;
    }
}

.text-theme-background {
    color: var(--choco-theme-background) !important;
}

.text-theme-contrast {
    color: var(--choco-theme-contrast) !important;
}

.text-theme-neutral {
    color: var(--choco-theme-neutral) !important;
}

.text-theme-elevation-1 {
    color: var(--choco-theme-elevation-1) !important;
}

.text-theme-elevation-2 {
    color: var(--choco-theme-elevation-2) !important;
}

.text-theme-elevation-3 {
    color: var(--choco-theme-elevation-3) !important;
}

.text-theme-primary-light {
    color: var(--choco-theme-primary-light) !important;
}

.link-theme {
    color: var(--choco-theme-text) !important;

    &:hover {
        color: $primary-500 !important;
    }
}

.ct-label {
    color: var(--choco-theme-text);
    fill: var(--choco-theme-text);
}

.text-transform-none {
    text-transform: none !important;
}

.text-break-none {
    word-break: keep-all;
}

.text-shiny {
    --text-shiny-shine: #{$primary};
    --text-shiny-color: var(--choco-theme-text);

    display: inline-block;
    background: linear-gradient(110deg, var(--text-shiny-color), 45%, var(--text-shiny-shine), 55%, var(--text-shiny-color));
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 260% auto;
    -webkit-text-fill-color: transparent;
    animation: text-shine 2.5s ease-out;
}

@keyframes text-shine {
    to {
        background-position: -200%;
    }
}
