@each $color, $value in $colors {
    .text-#{$color} {
        color: $value;
    }
}

.text-theme {
    color: $gray-900;
    color: var(--text);
}

.text-theme-bg {
    color: $gray-100;
    color: var(--background);
}

.text-theme-bg-light {
    color: $white;
    color: var(--background-light);
}