@each $color, $value in $colors {
    .text-#{$color} {
        color: var(--bs-#{$color}) !important;
    }
}

.text-theme {
    color: var(--text) !important;

    h3, h4, h5, h6, p, li {
        color: var(--text) !important;
    }
}

.text-bg-theme {
    color: var(--choco-theme-background) !important;
}

.text-bg-theme-light {
    color: var(--background-light);
}

.link-primary {
    color: var(--bs-primary) !important;

    &:hover {
        color: $primary-400 !important;
    }
}

.link-theme {
    color: var(--text) !important;

    &:hover {
        color: $primary-500 !important;
    }
}

.ct-label {
    color: var(--text);
    fill: var(--text);
}

.text-transform-none {
    text-transform: none !important;
}

.text-break-none {
    word-break: keep-all;
}