.dropdown-theme {
    .dropdown-toggle {
        text-decoration: none !important;
    }

    .dropdown-item {
        &.active {
            i.d-none {
                display: block !important;
            }
        }
    }
}

.chocolatey-zendesk,
.chocolatey-choco-theme-directory {
    // Theme toggle
    [class^="fa-"] {
        position: relative;
        padding-right: 1rem;
    }

    .fa-solid.fa-sun::before,
    .fa-solid.fa-moon::before,
    .fa-solid.fa-circle-half-stroke::before,
    .fa-solid.fa-check::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(-50%, -50%);
    }

    .fa-solid.fa-sun::before {
        background-image: url("https://img.chocolatey.org/icons/sun-solid.svg");
    }

    .fa-solid.fa-moon::before {
        background-image: url("https://img.chocolatey.org/icons/moon-solid.svg");
    }

    .fa-solid.fa-circle-half-stroke::before {
        background-image: url("https://img.chocolatey.org/icons/circle-half-stroke-solid.svg");
    }

    .fa-solid.fa-check::before {
        background-image: url("https://img.chocolatey.org/icons/check-solid.svg");
    }

    .dropdown-toggle::after {
        // vertical-align: sub;
    }
}

:root[data-bs-theme="dark"] {
    &.chocolatey-zendesk,
    &.chocolatey-choco-theme-directory {
        .fa-solid.fa-sun::before,
        .fa-solid.fa-moon::before,
        .fa-solid.fa-circle-half-stroke::before,
        .fa-solid.fa-check::before {
            filter: invert(1);
        }
    }
}
