header {
    border-bottom: 1px solid $gray-300;
    border-bottom: 1px solid var(--border);
}

#topNav {
    padding: $spacer / 2 0;
    background: $white;
    background: var(--background-light);

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img {
            height: 3rem;
            padding-left: 1rem;
        }
    }

    .navbar-nav {
        height: 38px;
        
        .nav-item {
            display: flex;
            align-items: center;

            .nav-link {
                padding: 0;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                padding: 0;

                .nav-link {
                    color: $gray-900;
                    color: var(--text);
                    width: 100%;
                    padding: .5rem 1rem .5rem 2rem;
                    border-left: 6px solid transparent;

                    &.active, &:hover {
                        border-color: var(--bs-primary);
                        color: var(--bs-primary);
                        background: $primary-150;
                        background: var(--background-primary-light);
                    }
                }
            }
        }
    }

    .navbar-toggler {
        display: inline-block;
        line-height: 1.5;

        &:focus {
            box-shadow: 0 0 0 0.25rem $primary-opacity-25;
        }
    }

    button.btn-link {
        border-width: 0 0 0 6px;
        border-radius: 0;
        text-align: left;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.navbar-nested-collapse ul:not(.global-nav-ul) .nav-link {
    width: 100%;
    text-align: left;
    padding: .5rem 1rem;
    color: $gray-900;
    color: var(--text);
    border-radius: 0;
    border: 0;
    border-left: 6px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: var(--bs-primary);
        color: var(--bs-primary);
        background: $primary-150;
        background: var(--background-primary-light);
    }

    &:focus {
        box-shadow: unset;
    }
}

.chocolatey-blog #topNav .navbar-collapse, .chocolateyfest #topNav .navbar-collapse {
    &.collapse.show {
        border-top: 1px solid var(--border);
        margin-top: .5rem;

        .navbar-nav {
            height: auto;
        }
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        padding-bottom: .5rem;
        height: 92px;

        .navbar-brand img {
            height: 100px;
            top: -25px;
            position: absolute;
            z-index: 1;
        }

        .navbar-nav {
            margin-right: 0;

            .nav-item {
                .nav-link {
                    font-weight: bold;
                }
            }
        }

        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 0;
                        border-left: none;

                        &.active, &:hover {
                            color: darken($primary, 15%);
                            background: none;
                        }
                    }
                }
            }
        }

        .navbar-toggler {
            display: none;
        }
    }

    .navbar-nested-collapse {
        z-index: 1025;
    }

    .chocolatey-org {
        #topNav {
            .navbar-brand img {
                top: -51px;
                padding-left: 0;
            }

            #topNavCollapse.navbar-collapse {
                background: $white;
                background: var(--background-light);
            }
        }
    }

    .chocolatey-blog #topNav .navbar-collapse, .chocolateyfest #topNav .navbar-collapsew {
        &.collapse.show {
            border-top: none;
            margin-top: 0;
        }
    }
}

header.sticky-top:not(.sticky-header) #topNav {
    height: 64px;

    .navbar-brand img.navbar-brand-desktop {
        height: 3rem;
        top: -5px;
    }
}