header {
    border-bottom: 1px solid $gray-300;
    border-bottom: 1px solid var(--border);
}

#topNav {
    padding: $spacer / 2 0;
    background: $white;
    background: var(--background-light);

    .navbar-brand img {
        height: 3rem;
        padding-left: 1rem;
    }

    .navbar-nav {
        .nav-item {
            display: flex;
            align-items: center;

            .nav-link {
                padding: 0;
            }
        }
    }

    .navbar-collapse {
        &#topNavCollapse {
            border-top: 1px solid var(--border);
            margin-top: $spacer / 2;
        }

        .navbar-nav {
            .nav-item {
                padding: 0;

                .nav-link {
                    color: $gray-900;
                    color: var(--text);
                    width: 100%;
                    padding: .5rem 1rem .5rem 2rem;
                    border-left: 6px solid transparent;

                    &.active, &:hover {
                        border-color: $primary;
                        color: $primary;
                        background: $primary-150;
                        background: var(--background-primary-light);
                    }
                }
            }
        }
    }

    .navbar-toggler {
        display: inline-block;
        line-height: 1.5;

        &:focus {
            box-shadow: 0 0 0 0.25rem $primary-opacity-25;
        }
    }

    button.btn-link {
        border-width: 0 0 0 6px;
        border-radius: 0;
        text-align: left;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.navbar-nested-collapse ul:not(.global-nav) .nav-link {
    width: 100%;
    text-align: left;
    padding: .5rem 1rem;
    color: $gray-900;
    color: var(--text);
    border-radius: 0;
    border: 0;
    border-left: 6px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $primary;
        color: $primary;
        background: $primary-150;
        background: var(--background-primary-light);
    }

    &:focus {
        box-shadow: unset;
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        padding-bottom: .5rem;
        height: 92px;

        .navbar-brand img {
            height: 100px;
            top: -25px;
            position: absolute;
        }

        .navbar-nav {
            margin-right: 0;

            .nav-item {
                .nav-link {
                    font-weight: bold;
                }
            }
        }

        .navbar-collapse {
            &#topNavCollapse {
                border-top: none;
                margin-top: 0;
            }
            
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $primary;
                        padding: 0;
                        border-left: none;

                        &.active, &:hover {
                            color: darken($primary, 15%);
                            background: none;
                        }
                    }
                }
            }
        }

        .navbar-toggler {
            display: none;
        }
    }

    .navbar-nested-collapse {
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $gray-300;
        border-bottom: 1px solid var(--border);
        margin-top: 40px;
        z-index: 1025;
    }

    .chocolatey-org {
        header {
            margin-bottom: 40px;
        }

        #topNav {
            .navbar-links {
                margin-top: 19px;
            }

            #topNavCollapse.navbar-collapse {
                margin-top: 27px;
                background: $white;
                background: var(--background-light);
                border-top: 1px solid $gray-300;
                border-top: 1px solid var(--border);
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .chocolatey-org {
        #topNav {
            #topNavCollapse.navbar-collapse {
                border-top: 0;
            }
        }
    }
}