header {
    border-bottom: 1px solid $gray-300;
    border-bottom: 1px solid var(--choco-theme-border);
}

#topNav {
    padding: calc($spacer / 2) 0;
    background: var(--choco-theme-elevation-1);

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img {
            height: 3rem;
            padding-left: 1rem;
        }
    }

    .navbar-nav {
        height: 38px;

        .nav-item {
            display: flex;
            align-items: center;

            .nav-link {
                padding: 0;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                padding: 0;

                .nav-link {
                    width: 100%;
                    padding: .5rem 1rem .5rem 2rem;
                    color: $gray-900;
                    color: var(--choco-theme-text);
                    border-left: 6px solid transparent;

                    &.active,
                    &:hover {
                        color: var(--bs-primary);
                        background: var(--choco-theme-primary-light);
                        border-color: var(--bs-primary);
                    }
                }
            }
        }
    }

    .navbar-toggler {
        display: inline-block;
        line-height: 1.5;

        &:focus {
            box-shadow: 0 0 0 .25rem $primary-opacity-25;
        }
    }

    button.btn-link {
        text-align: left;
        border-width: 0 0 0 6px;
        border-radius: 0;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.navbar-nested-collapse ul:not(.global-nav-ul) .nav-link {
    width: 100%;
    padding: .5rem 1rem;
    color: var(--choco-theme-text);
    text-align: left;
    border: 0;
    border-left: 6px solid transparent;
    border-radius: 0;

    &:hover {
        color: var(--bs-primary);
        text-decoration: none;
        background: var(--choco-theme-primary-light);
        border-color: var(--bs-primary);
    }

    &:focus {
        box-shadow: unset;
    }
}

.chocolatey-blog #topNav .navbar-collapse,
.chocolateyfest #topNav .navbar-collapse {
    &.collapse.show {
        margin-top: .5rem;
        border-top: 1px solid var(--choco-theme-border);

        .navbar-nav {
            height: auto;
        }
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        height: 92px;
        padding-bottom: .5rem;

        .navbar-brand img {
            position: absolute;
            top: -25px;
            z-index: 1;
            height: 100px;
        }

        .navbar-nav {
            margin-right: 0;

            .nav-item {
                .nav-link {
                    font-weight: 700;
                }
            }
        }

        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 0;
                        border-left: none;

                        &.active,
                        &:hover {
                            color: darken($primary, 15%);
                            background: none;
                        }
                    }
                }
            }
        }

        .navbar-toggler {
            display: none;
        }
    }

    .navbar-nested-collapse {
        z-index: 1025;
    }

    .chocolatey-org {
        #topNav {
            .navbar-brand img {
                top: -51px;
                padding-left: 0;
            }

            #topNavCollapse.navbar-collapse {
                background: var(--choco-theme-elevation-1);
            }
        }
    }

    .chocolatey-blog #topNav .navbar-collapse,
    .chocolateyfest #topNav .navbar-collapsew {
        &.collapse.show {
            margin-top: 0;
            border-top: none;
        }
    }
}

header.sticky-top:not(.sticky-header) #topNav {
    height: 64px;

    .navbar-brand img.navbar-brand-desktop {
        top: -5px;
        height: 3rem;
    }
}
