/*Padding*/
.ps-c175 {
    padding-left: $spacer * 2 - $spacer / 4 !important;
}

.ps-c2 {
    padding-left: $spacer * 2 !important;
}

.ps-c275 {
    padding-left: $spacer * 3 - $spacer / 4 !important;
}

.ps-c375 {
    padding-left: $spacer * 4 - $spacer / 4 !important;
}

.ps-c4 {
    padding-left: $spacer * 4 !important;
}

.ps-c45 {
    padding-left: $spacer * 5 - $spacer / 2 !important;
}

.ps-c475 {
    padding-left: $spacer * 5 - $spacer / 4 !important;
}

.ps-c5 {
    padding-left: $spacer * 5 !important;
}

.ps-c6 {
    padding-left: $spacer * 6 !important;
}

.ps-c7 {
    padding-left: $spacer * 7 !important;
}

/*Margin*/
.mt-c2 {
    margin-top: $spacer * 2 !important;
}

/*Roatation*/
.rotate-180 {
    transform: rotate(180deg);
}

/*Height*/
.h-90 {
    height: 90%;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

/*Width*/
.w-300 {
    width: 300px;
}

/*Borders*/
.border, .border-bottom, .border-top, .border-left, .border-right, hr {
    border-color: var(--border) !important;
}

/*Container Text Size*/
.container-text-small {
    p, ul, i {
        font-size: $small-font-size;
    }
}

.container-text-large, .container-text-large-md-small {
    p, ul, i {
        font-size: $font-size-lg;
    }
}

@include media-breakpoint-up(md) {
    .sticky-md-top {
        max-height: 100vh;
        overflow: auto;
    }
    
    .h-md-400 {
        height: 400px !important;
    }

    .container-text-small-md-none, .container-text-large-md-none {
        p, ul, i {
            font-size: $font-size-base;
        }
    }

    .container-text-small-md, .container-text-large-md-small {
        p, ul, i {
            font-size: $small-font-size;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticky-xl-top {
        max-height: 100vh;
        overflow: auto;
    }
}