/*Padding & Margin*/
.ps-c175 {
    padding-left: $spacer * 2 - $spacer / 4 !important;
}

.ps-c2 {
    padding-left: $spacer * 2 !important;
}

.mt-c2 {
    margin-top: $spacer * 2 !important;
}

.ps-c275 {
    padding-left: $spacer * 3 - $spacer / 4 !important;
}

.ps-c375 {
    padding-left: $spacer * 4 - $spacer / 4 !important;
}

.ps-c4 {
    padding-left: $spacer * 4 !important;
}

.ps-c45 {
    padding-left: $spacer * 5 - $spacer / 2 !important;
}

.ps-c475 {
    padding-left: $spacer * 5 - $spacer / 4 !important;
}

.ps-c5 {
    padding-left: $spacer * 5 !important;
}

.ps-c6 {
    padding-left: $spacer * 6 !important;
}

.pt-c6 {
    padding-top: $spacer * 6 !important;
}

.mb-nc6 {
    margin-bottom: -$spacer * 6 !important;
}

.ps-c7 {
    padding-left: $spacer * 7 !important;
}

.mx-nc75 {
    margin-left: -.75rem;
    margin-right: -.75rem;
}

/*Rotation*/
.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-30 {
    transform: rotate(30deg);
}

/*Height*/
.h-05 {
    height: 5px;
} 

.h-90 {
    height: 90%;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

/*Width*/
.w-300 {
    width: 300px;
}
.min-w-60 {
    min-width: 60px;
}

.min-w-100 {
    min-width: 100px;
}

/*Borders*/
.border, .border-bottom, .border-top, .border-start, .border-end {
    border-color: var(--border) !important;
}

hr {
    color: var(--border);
    opacity: 1;
}

.border-hr {
    width: 50px;
    margin-left: 0;
}
 
.border-hr-lg {
    width: 250px;
    margin: 0 auto;
}

.border-hr, .border-hr-lg {
    border: 3px solid $primary;
    border-radius: $border-radius;
}

/*Container Text Size*/
.container-text-small {
    p, ul, i {
        font-size: $small-font-size;
    }
}

.container-text-large, .container-text-large-md-small {
    p, ul, i {
        font-size: $font-size-lg;
    }
}

/*Show Specified Items*/
.show-3 > *, .show-6 > * {
    display: none;
    transition: all .3s ease;
}

.show-3 > *:nth-child(-n+3), .show-6 > *:nth-child(-n+6) {
    display: block;
}

/*Z Index*/
.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

/*Dark/Light mode images*/
.d-dark-mode {
    display: none;
}

/*Box Shadow*/ 
@each $color, $value in $colors {
    .box-shadow-#{$color} {
        box-shadow: 0 0 0 0.25rem rgba($value, 0.25) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .d-dark-mode {
            display: block;
        }

        .d-light-mode {
            display: none;
        }
    }
}

[data-user-color-scheme='dark'] {
    .d-dark-mode {
        display: block;
    }

    .d-light-mode {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .sticky-md-top {
        max-height: 100vh;
        overflow: auto;
    }
    
    .h-md-400 {
        height: 400px !important;
    }

    .container-text-small-md-none, .container-text-large-md-none {
        p, ul, i {
            font-size: $font-size-base;
        }
    }

    .container-text-small-md, .container-text-large-md-small {
        p, ul, i {
            font-size: $small-font-size;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticky-xl-top {
        max-height: 100vh;
        overflow: auto;
    }
}