// Padding and Margin Utilities - Defaults to rem
@each $space, $value in $spaces {
    // Padding in rem
    .pt-c#{$space} {
        padding-top: #{$space}rem !important;
    }

    .pe-c#{$space} {
        padding-right: #{$space}rem !important;
    }

    .pb-c#{$space} {
        padding-bottom: #{$space}rem !important;
    }

    .ps-c#{$space} {
        padding-left: #{$space}rem !important;
    }

    // Margin in rem
    .mt-c#{$space} {
        margin-top: #{$space}rem !important;
    }

    .me-c#{$space} {
        margin-right: #{$space}rem !important;
    }

    .mb-c#{$space} {
        margin-bottom: #{$space}rem !important;
    }

    .ms-c#{$space} {
        margin-left: #{$space}rem !important;
    }

    .mt-cn#{$space} {
        margin-top: -#{$space}rem !important;
    }

    .me-cn#{$space} {
        margin-right: -#{$space}rem !important;
    }

    .mb-cn#{$space} {
        margin-bottom: -#{$space}rem !important;
    }

    .ms-nc#{$space} {
        margin-left: -#{$space}rem !important;
    }
}

// Padding and Margin Utilities in px
@each $space in $general-numbers {
    .mt-c#{$space}-px {
        margin-top: #{$space}px !important;
    }

    .me-c#{$space}-px {
        margin-right: #{$space}px !important;
    }

    .mb-c#{$space}-px {
        margin-bottom: #{$space}px !important;
    }

    .ms-c#{$space}-px {
        margin-left: #{$space}px !important;
    }

    .mt-cn#{$space}-px {
        margin-top: -#{$space}px !important;
    }

    .me-cn#{$space}-px {
        margin-right: -#{$space}px !important;
    }

    .mb-cn#{$space}-px {
        margin-bottom: -#{$space}px !important;
    }

    .ms-cn#{$space}-px {
        margin-left: -#{$space}px !important;
    }
}

/*Rotation*/
@each $rotate, $value in $rotations {
    .rotate-#{$rotate} {
        transform: rotate($value);
    }
}

// Height and Width Utilities - Defaults to %
@each $number in $general-numbers {
    // Height in px
    .h-#{$number}-px {
        height: #{$number}px;
    }

    // Width in px
    .w-#{$number}-px {
        width: #{$number}px;
    }

    // Min Width in px
    .min-w-#{$number}-px {
        min-width: #{$number}px;
    }

    // Height in %
    .h-#{$number} {
        height: #{$number}#{'%'};
    }

    // Width in %
    .w-#{$number} {
        width: #{$number}#{'%'};
    }

    // Min Width in %
    .min-w-#{$number} {
        min-width: #{$number}#{'%'};
    }
}

/*Borders*/
.border:not(.border-primary), .border-bottom, .border-top, .border-start, .border-end {
    border-color: var(--border) !important;
}

hr {
    color: var(--border);
    opacity: 1;
}

.border-hr {
    width: 50px;
    margin-left: 0;
}
 
.border-hr-lg {
    width: 250px;
    margin: 0 auto;
}

.border-hr, .border-hr-lg {
    border: 3px solid $primary;
    border-radius: $border-radius;
}

/*Container Text Size*/
.container-text-small {
    p, ul, i {
        font-size: $small-font-size;
    }
}

.container-text-large, .container-text-large-md-small {
    p, ul, i {
        font-size: $font-size-lg;
    }
}

/*Show Specified Items*/
.show-3 > *, .show-6 > * {
    display: none;
    transition: all .3s ease;
}

.show-3 > *:nth-child(-n+3), .show-6 > *:nth-child(-n+6) {
    display: block;
}

/*Z Index*/
@for $i from 0 through 5 {
    .z-index-#{$i} {
        z-index: $i;
    }
}

/*Dark/Light mode images*/
.d-dark-mode {
    display: none;
}

/*Box Shadow*/ 
@each $color, $value in $colors {
    .box-shadow-#{$color} {
        box-shadow: 0 0 0 0.25rem rgba($value, 0.25) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .d-dark-mode {
            display: block;
        }

        .d-light-mode {
            display: none;
        }
    }
}

[data-user-color-scheme='dark'] {
    .d-dark-mode {
        display: block;
    }

    .d-light-mode {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .sticky-md-top {
        max-height: 100vh;
        overflow: auto;
    }
    
    .h-md-400-px {
        height: 400px !important;
    }

    .container-text-small-md-none, .container-text-large-md-none {
        p, ul, i {
            font-size: $font-size-base;
        }
    }

    .container-text-small-md, .container-text-large-md-small {
        p, ul, i {
            font-size: $small-font-size;
        }
    }

    .px-md-c4 {
        padding-left: $spacer * 4 !important;
        padding-right: $spacer * 4 !important;
    }
    
    .pe-md-c75 {
        padding-right: .75rem !important;
    }    
}

@include media-breakpoint-up(xl) {
    .sticky-xl-top {
        max-height: 100vh;
        overflow: auto;
    }
}