.chocolatey-zendesk #main-content .article-info .article-body pre { /* stylelint-disable-line */
    background: var(--bs-secondary-bg) !important;
}

.chocolatey-zendesk {
    // Top header navigation
    header.header {
        width: 100%;
        max-width: unset;
        padding: 0 5%;
        background: var(--bs-secondary-bg);

        // Username dropdown
        .user-nav-list {
            display: flex;
            margin-bottom: 0;
        }

        .user-info .dropdown-toggle::after {
            display: none;
        }

        .nav-wrapper-mobile {
            .menu-button-mobile .icon-menu,
            .menu-list-mobile-items a {
                color: var(--bs-body-color);
            }

            .menu-list-mobile-items a:hover,
            .menu-button-mobile[aria-expanded="true"] .icon-menu {
                background: none;
            }

            .menu-list-mobile {
                background: var(--bs-secondary-bg);
                border: 0;
            }

            .menu-list-mobile-items .nav-divider {
                border-color: var(--bs-border-color);
            }
        }

        @media (min-width: 1024px) {
            .nav-wrapper-desktop {
                display: flex;
                align-items: center;
            }
        }

        @media (max-width: 1023px) {
            .nav-wrapper-mobile {
                display: flex;
                align-items: center;
            }
        }
    }

    .hero {
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 767px) {
        .hero {
            height: 150px;
        }
    }

    // Theme toggle
    [class^="fa-"] {
        position: relative;
        padding-right: 1rem;
    }

    .fa-solid.fa-sun::before,
    .fa-solid.fa-moon::before,
    .fa-solid.fa-circle-half-stroke::before,
    .fa-solid.fa-check::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(-50%, -50%);
    }

    .fa-solid.fa-sun::before {
        background-image: url("https://img.chocolatey.org/icons/sun-solid.svg");
    }

    .fa-solid.fa-moon::before {
        background-image: url("https://img.chocolatey.org/icons/moon-solid.svg");
    }

    .fa-solid.fa-circle-half-stroke::before {
        background-image: url("https://img.chocolatey.org/icons/circle-half-stroke-solid.svg");
    }

    .fa-solid.fa-check::before {
        background-image: url("https://img.chocolatey.org/icons/check-solid.svg");
    }

    // General links
    .article-list-item a {
        color: var(--bs-primary);
    }

    // Dropdowns
    .dropdown-menu {
        [role="menuitem"] {
            color: var(--bs-body-color);

            &:hover {
                color: var(--bs-body-color);
                background: var(--bs-body-bg);
            }
        }

        [role="separator"] {
            border-bottom: 1px solid var(--bs-border-color);
        }
    }

    // Cards
    .blocks-item,
    .category-content .section {
        background: var(--bs-secondary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: .375rem;
    }

    // Links inside cards
    .blocks-item-link:visited,
    .blocks-item-link:hover,
    .blocks-item-link:active,
    .blocks-item:hover *,
    .blocks-item:focus *,
    .blocks-item:active * {
        color: $primary-400;
    }

    // Lists
    ul {
        padding-left: 0;
    }

    // Override with text color
    .attachments .attachment-item .attachment-icon,
    .recent-activity-item-meta {
        color: var(--bs-body-color);
    }

    // Buttons
    .button,
    .section-subscribe button,
    .article-subscribe button,
    .community-follow button,
    .requests-table-toolbar .organization-subscribe button,
    .subscriptions-subscribe button,
    .pagination-next-link,
    .pagination-prev-link,
    .pagination-first-link,
    .pagination-last-link {
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        border-radius: .25rem;

        &:hover {
            color: var(--bs-gray-900);
        }
    }

    .button-large,
    input[type="submit"] {
        color: var(--bs-gray-900);
    }

    // Search input
    .search input[type="search"],
    .search {
        color: var(--bs-body-color);
        border-radius: .25rem;
    }

    .search {
        background-color: transparent;
        border: 1px solid transparent;

        input[type="search"] {
            background-color: var(--bs-secondary-bg);
            border: 1px solid var(--bs-primary);

            &:focus {
                box-shadow: 0 0 0 .25rem rgba(92, 159, 216, .25);
            }
        }

        &.search-has-value {
            input[type="search"] {
                border-right-color: transparent;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .clear-button {
            color: var(--bs-gray-900);
            background: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }

    // Category & Article pages
    .category-container {
        display: block;

        .category-content {
            .page-header {
                margin-bottom: 40px;
            }

            .section {
                padding: 1rem;

                .article-list {
                    margin-bottom: 0;
                }

                .section-tree-title a {
                    color: var(--bs-body-color);
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .article-container {
            .article {
                flex: 1 0 83%;
                max-width: 83%;
            }
        }
    }

    // Section pages
    .section-container {
        display: block;
    }

    // Footer
    footer.footer {
        background: var(--bs-secondary-bg);

        .footer-inner {
            display: inline-block;
            width: 100%;
            max-width: unset;
            padding: 0 5%;
            font-size: $font-size-sm;
            text-align: center;

            a {
                color: var(--bs-body-color);
            }
        }
    }

    // Profile
    .profile-nav,
    .profile-header,
    .my-activities-nav {
        background: var(--bs-secondary-bg);
    }

    .collapsible-nav-list li a {
        color: var(--bs-body-color);
    }

    .collapsible-nav-list li[aria-selected="true"] a,
    .collapsible-nav-list li.current a {
        color: var(--bs-primary);
    }

    .profile-private-badge {
        flex-basis: 100%;
    }

    .my-activities-table th:first-child,
    .my-activities-table td:first-child {
        padding-left: .5rem;
    }

    .my-activities-header {
        margin-top: 20px;
    }
}

:root[data-bs-theme="dark"].chocolatey-zendesk {
    .fa-solid.fa-sun::before,
    .fa-solid.fa-moon::before,
    .fa-solid.fa-circle-half-stroke::before,
    .fa-solid.fa-check::before {
        filter: invert(1);
    }
}
