@import "variables/chocolatey";
@import "variables/global";
@import "variables/chocolatey-root";
@import "node_modules/bootstrap/scss/bootstrap";

// FontAwesome Free
@import "fontawesome";

// Custom Styles
@import "styles";
@import "icons";