@import "chocolatey-variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

// FontAwesome Free
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

// Custom Styles
@import "base";
@import "theme-toggle";
@import "loader";
@import "top-navigation";
@import "left-navigation";
@import "global-navigation";
@import "search";
@import "algolia";
@import "authentication";
@import "right-navigation";
@import "utilities";
@import "placeholders";
@import "cards";
@import "backgrounds-headers";
@import "text";
@import "carousels";
@import "alerts";
@import "blockquotes-callouts";
@import "buttons-badges";
@import "prism";
@import "icons";
@import "inputs";
@import "packages";
@import "lists";
@import "dividers";
@import "curve";
@import "countdown";
@import "courses";
@import "ribbons";
@import "collapsing-sidebar";
@import "tooltips";
@import "gitter";
@import "flatpickr";
@import "ie";