<div class="atcb" style="display:none;">
    {
        "name":"Chocolatey Product Spotlight",
        "description":"Join the Chocolatey Team on our regular monthly stream where we put a spotlight on the most recent Chocolatey product releases. You'll have a chance to have your questions answered in a live Ask Me Anything format.",
        "dates":[
            {
                "startDate":"2023-03-02",
                "startTime":"17:00",
                "endTime":"18:00"
            },
            {
                "startDate":"2023-04-06",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2023-05-04",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2023-06-01",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2023-07-06",
                "startTime":"16:00",
                "endTime":"17:00"
            }
        ],
        "location":"https://chocolatey.org/events/chocolatey-product-spotlight",
        "options":[
            "Apple",
            "Google",
            "iCal",
            "Microsoft365",
            "Outlook.com",
            "Yahoo"
        ],
        "timeZone":"UTC",
        "iCalFileName":"chocolatey-product-spotlight", 
        "checkmark":false,
        "trigger":"click"
    }
</div>