<div class="atcb" style="display:none;">
    {
        "name":"Unpacking Software Livestream",
        "description":"Join our monthly Unpacking Software livestream to hear about the latest news, chat and opinion on packaging, software deployment and lifecycle management!",
        "dates":[
            {
                "startDate":"2024-02-15",
                "startTime":"17:00",
                "endTime":"18:00"
            },
            {
                "startDate":"2024-03-21",
                "startTime":"17:00",
                "endTime":"18:00"
            },
            {
                "startDate":"2024-04-18",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-05-16",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-06-20",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-07-18",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-08-15",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-09-19",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-10-17",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2024-11-21",
                "startTime":"17:00",
                "endTime":"18:00"
            },
            {
                "startDate":"2024-12-19",
                "startTime":"17:00",
                "endTime":"18:00"
            }
        ],
        "location":"https://chocolatey.org/events/unpacking-software",
        "options":[
            "Apple",
            "Google",
            "iCal",
            "Microsoft365",
            "Outlook.com",
            "Yahoo"
        ],
        "timeZone":"UTC",
        "iCalFileName":"unpacking-software", 
        "checkmark":false,
        "trigger":"click"
    }
</div>