<div class="atcb" style="display:none;">
    {
        "name":"Chocolatey Community Coffee Break",
        "description":"Join the Chocolatey Team on our regular monthly stream where we discuss all things Community, what we do, how you can get involved and answer your Chocolatey questions.",
        "dates":[
            {
                "startDate":"2023-09-21",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2023-10-19",
                "startTime":"16:00",
                "endTime":"17:00"
            },
            {
                "startDate":"2023-11-16",
                "startTime":"17:00",
                "endTime":"18:00"
            }
        ],
        "location":"https://chocolatey.org/events/chocolatey-community-coffee-break",
        "options":[
            "Apple",
            "Google",
            "iCal",
            "Microsoft365",
            "Outlook.com",
            "Yahoo"
        ],
        "timeZone":"UTC",
        "iCalFileName":"chocolatey-community-coffee-break", 
        "checkmark":false,
        "trigger":"click"
    }
</div>