:root {
    @each $color, $value in $colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }
}

:root[data-bs-theme="light"] {
    --choco-adaptive: #{$adaptive};
    --choco-border-color-adaptive: #{$border-color-adaptive};
    --bs-green: #{$green-light};
    --bs-green-rgb: #{to-rgb($green-light)};
    --bs-success: #{$green-light};
    --bs-success-rgb: #{to-rgb($green-light)};
    --bs-primary: #{$green-light};
    --bs-primary-rgb: #{to-rgb($green-light)};
    --bs-yellow: #{$yellow-light};
    --bs-yellow-rgb: #{to-rgb($yellow-light)};
    --bs-warning: #{$yellow-light};
    --bs-warning-rgb: #{to-rgb($yellow-light)};
}

:root[data-bs-theme="dark"] {
    --choco-adaptive: #{$adaptive-dark};
    --choco-border-color-adaptive: #{$border-color-adaptive-dark};
}
