// Custom Colors
$adaptive:                          $gray-200;
$adaptive-dark:                     $gray-800;

// Body
$body-color:                        $black;
$body-bg:                           $gray-100;

$body-color-dark:                   $white;
$body-bg-dark:                      $black;

$body-secondary-bg:                 $white;

$body-secondary-bg-dark:            $gray-900;

$body-tertiary-bg:                  $gray-300;

$body-tertiary-bg-dark:             $gray-800;

// Borders
$border-color-dark:                 $gray-800;
$border-color-translucent-dark:     $gray-800;

// Carousel
$carousel-caption-color:            $body-color-dark;
$carousel-dark-caption-color:       $body-color-dark;

// Code
$code-color:                        $body-color;
$code-color-dark:                   $body-color-dark;
