:root {
    --choco-theme-primary-opacity-10: #{$primary-opacity-10};
    --choco-theme-primary-opacity-40: #{$primary-opacity-40};
    --choco-theme-primary-opacity-90: #{$primary-opacity-90};
    @each $color, $value in $colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }
}

:root[data-user-color-scheme="light"] {
    --color-mode: "light";
    --choco-theme-background: #{$gray-100};
    --choco-theme-background-rgb: #{to-rgb($gray-100)};
    --choco-theme-contrast: #{$gray-900};
    --choco-theme-contrast-hover: #{$gray-700};
    --choco-theme-neutral: #{$gray-300};
    --choco-theme-neutral-hover: #{$gray-400};
    --choco-theme-elevation-1: #{$white};
    --choco-theme-elevation-2: #{$white};
    --choco-theme-elevation-3: #{$gray-200};
    --choco-theme-primary-light: #{$gray-200};
    --choco-theme-text: #{$black};
    --choco-theme-text-code: #{$gray-600};
    --choco-theme-border: #{$gray-300};
    --choco-theme-border-secondary: #{$gray-300};
    --choco-theme-purple: #{$purple};
    --choco-theme-orange: #{$orange-600};
    --choco-theme-red: #{$red};
    --choco-theme-toggle-opacity: #{$yellow-opacity-25};
    --choco-theme-toggle-background: #{$white};
    --choco-theme-toggle-btn-background: #{$white};
    --modal-backdrop: .5;
    --bs-green: #{$green-light};
    --bs-green-rgb: #{to-rgb($green-light)};
    --bs-success: #{$green-light};
    --bs-success-rgb: #{to-rgb($green-light)};
    --bs-primary: #{$green-light};
    --bs-primary-rgb: #{to-rgb($green-light)};
    --bs-yellow: #{$yellow-light};
    --bs-yellow-rgb: #{to-rgb($yellow-light)};
    --bs-warning: #{$yellow-light};
    --bs-warning-rgb: #{to-rgb($yellow-light)};
}

:root[data-user-color-scheme="dark"] {
    --color-mode: "dark";
    --choco-theme-background: #{$black};
    --choco-theme-background-rgb: #{to-rgb($black)};
    --choco-theme-contrast: #{$gray-100};
    --choco-theme-contrast-hover: #{$gray-400};
    --choco-theme-neutral: #{$primary-800};
    --choco-theme-neutral-hover: #{$primary-700};
    --choco-theme-elevation-1: #{$gray-900};
    --choco-theme-elevation-2: #{$primary-800};
    --choco-theme-elevation-3: #{$primary-850};
    --choco-theme-primary-light: #{$gray-800};
    --choco-theme-text: #{$white};
    --choco-theme-text-code: #{$gray-200};
    --choco-theme-border: #{$gray-800};
    --choco-theme-border-secondary: #{$primary-opacity-50};
    --choco-theme-purple: #{$purple-300};
    --choco-theme-orange: #{$orange};
    --choco-theme-red: #{$red-300};
    --choco-theme-toggle-opacity: #{$primary-opacity-50};
    --choco-theme-toggle-background: #{$gray-900};
    --choco-theme-toggle-btn-background: #{$gray-900};
    --modal-backdrop: .9;
    --bs-green: #{$green};
    --bs-green-rgb: #{to-rgb($green)};
    --bs-success: #{$green};
    --bs-success-rgb: #{to-rgb($green)};
    --bs-primary: #{$green};
    --bs-primary-rgb: #{to-rgb($green)};
    --bs-yellow: #{$yellow};
    --bs-yellow-rgb: #{to-rgb($yellow)};
    --bs-warning: #{$yellow};
    --bs-warning-rgb: #{to-rgb($yellow)};
}
