:root {
    --choco-theme-primary-opacity-10: #{$primary-opacity-10};
    --choco-theme-primary-opacity-40: #{$primary-opacity-40};
    --choco-theme-primary-opacity-90: #{$primary-opacity-90};
    @each $color, $value in $colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }
}

:root[data-user-color-scheme="light"] {
    --color-mode: "light";
    --choco-theme-background: #{$gray-100};
    --choco-theme-background-hover: #{$gray-400};
    --choco-theme-contrast: #{$primary-950};
    --choco-theme-contrast-hover: #{$gray-700};
    --choco-theme-neutral: #{$gray-300};
    --choco-theme-neutral-hover: #{$gray-400};
    --choco-theme-elevation-1: #{$white};
    --choco-theme-elevation-2: #{$white};
    --choco-theme-elevation-3: #{$gray-200};
    --choco-theme-primary-light: #{$primary-150};
    --choco-theme-text: #{$gray-900};
    --choco-theme-text-code: #{$gray-800};
    --choco-theme-border: #{$gray-300};
    --choco-theme-border-secondary: #{$gray-300};
    --choco-theme-purple: #{$purple};
    --choco-theme-orange: #{$orange};
    --choco-theme-red: #{$red};
    --choco-theme-toggle-opacity: #{$yellow-opacity-25};
    --choco-theme-toggle-background: #{$white};
    --choco-theme-toggle-btn-background: #{$yellow-opacity-25};
    --choco-theme-blue-light: #{rgba($blue, .2)};
    --choco-theme-green-light: #{rgba($green, .2)};
    --choco-theme-yellow-light: #{rgba($yellow, .2)};
    --choco-theme-orange-light: #{rgba($orange, .2)};
    --choco-theme-red-light: #{rgba($red, .2)};
    --choco-theme-pink-light: #{rgba($pink, .2)};
    --choco-theme-purple-light: #{rgba($purple, .2)};
    --modal-backdrop: .5;
}

:root[data-user-color-scheme="dark"] {
    --color-mode: "dark";
    --choco-theme-background: #{$primary-950};
    --choco-theme-background-hover: #{$gray-700};
    --choco-theme-contrast: #{$gray-100};
    --choco-theme-contrast-hover: #{$gray-400};
    --choco-theme-neutral: #{$primary-800};
    --choco-theme-neutral-hover: #{$primary-700};
    --choco-theme-elevation-1: #{$primary-900};
    --choco-theme-elevation-2: #{$primary-800};
    --choco-theme-elevation-3: #{$primary-850};
    --choco-theme-primary-light: #{$primary-850};
    --choco-theme-text: #{$gray-400};
    --choco-theme-text-code: #{$gray-500};
    --choco-theme-border: #{$primary-800};
    --choco-theme-border-secondary: #{$primary-opacity-50};
    --choco-theme-purple: #{$purple-300};
    --choco-theme-orange: #{$orange-300};
    --choco-theme-red: #{$red-300};
    --choco-theme-toggle-opacity: #{$primary-opacity-50};
    --choco-theme-toggle-background: #{$primary-opacity-25};
    --choco-theme-toggle-btn-background: #{$primary-opacity-25};
    --choco-theme-blue-light: #{rgba($blue, .1)};
    --choco-theme-green-light: #{rgba($green, .1)};
    --choco-theme-yellow-light: #{rgba($yellow, .1)};
    --choco-theme-orange-light: #{rgba($orange, .1)};
    --choco-theme-red-light: #{rgba($red, .1)};
    --choco-theme-pink-light: #{rgba($pink, .1)};
    --choco-theme-purple-light: #{rgba($purple, .1)};
    --modal-backdrop: .9;
}
