// Custom Colors
$adaptive:                          $primary-150;
$adaptive-dark:                     $primary-850;

// Body
$body-color:                        $primary-950;
$body-bg:                           $gray-100;

$body-color-dark:                   $gray-200;
$body-bg-dark:                      $primary-950;

$body-secondary-bg:                 $white;
$body-secondary-bg-dark:            #141B1F;

$body-tertiary-bg:                  $gray-300;
$body-tertiary-bg-dark:             #2b3135;

// Links
$link-shade-percentage:             20%;
// $link-color:                        $primary;
// $link-hover-color:                  shift-color($link-color, $link-shade-percentage);;
$link-color-dark:                   $primary-dark;
$link-hover-color-dark:             shift-color($link-color-dark, $link-shade-percentage);

// Borders
$border-color-dark:                 #2b3135;
$border-color-translucent-dark:     #2b3135;

// Carousel
$carousel-caption-color:            $body-color-dark;
$carousel-dark-caption-color:       $body-color-dark;
