:root {
    color-scheme: unset !important; // https://disqus.com/home/discussion/channel-discussdisqus/embed_disqus_comments_not_changing_background_color_with_bootstrap_53_color_mode/
    @each $color, $value in $colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }
}

:root,
:root[data-bs-theme="light"] {
    --choco-adaptive: #{$adaptive}; // Primary in chocolatey.org // Gray in boxstarter.org
    --choco-border-color-adaptive: #{$border-color-adaptive}; // Gray in light mode // Primary in dark mode
}

:root[data-bs-theme="dark"] {
    --choco-adaptive: #{$adaptive-dark};
    --choco-border-color-adaptive: #{$border-color-adaptive-dark};
}
