$enable-responsive-font-sizes:      true;
$enable-negative-margins:           true;
$font-size-base:                    1rem;
$line-height-base:                  1.7;
$headings-line-height:              $line-height-base;
$min-contrast-ratio:                4.5;
$shift-amount:                      15%;
$prefix:                            bs-;