$primary-custom: (
    "primary-50": $primary-50,
    "primary-100": $primary-100,
    "primary-150": $primary-150,
    "primary-200": $primary-200,
    "primary-250": $primary-250,
    "primary-300": $primary-300,
    "primary-350": $primary-350,
    "primary-400": $primary-400,
    "primary-450": $primary-450,
    "primary-500": $primary-500,
    "primary-550": $primary-550,
    "primary-600": $primary-600,
    "primary-650": $primary-650,
    "primary-700": $primary-700,
    "primary-750": $primary-750,
    "primary-800": $primary-800,
    "primary-850": $primary-850,
    "primary-900": $primary-900,
    "primary-950": $primary-950
);

$primary-custom-dark: (
    "primary-50": $primary-50-dark,
    "primary-100": $primary-100-dark,
    "primary-150": $primary-150-dark,
    "primary-200": $primary-200-dark,
    "primary-250": $primary-250-dark,
    "primary-300": $primary-300-dark,
    "primary-350": $primary-350-dark,
    "primary-400": $primary-400-dark,
    "primary-450": $primary-450-dark,
    "primary-500": $primary-500-dark,
    "primary-550": $primary-550-dark,
    "primary-600": $primary-600-dark,
    "primary-650": $primary-650-dark,
    "primary-700": $primary-700-dark,
    "primary-750": $primary-750-dark,
    "primary-800": $primary-800-dark,
    "primary-850": $primary-850-dark,
    "primary-900": $primary-900-dark,
    "primary-950": $primary-950-dark
);

$blues-custom: (
    "blue-50": $blue-50,
    "blue-150": $blue-150,
    "blue-250": $blue-250,
    "blue-350": $blue-350,
    "blue-450": $blue-450,
    "blue-550": $blue-550,
    "blue-650": $blue-650,
    "blue-750": $blue-750,
    "blue-850": $blue-850,
    "blue-950": $blue-950
);

$blues-custom-dark: (
    "blue-50": $blue-50-dark,
    "blue-100": $blue-100-dark,
    "blue-150": $blue-150-dark,
    "blue-200": $blue-200-dark,
    "blue-250": $blue-250-dark,
    "blue-300": $blue-300-dark,
    "blue-350": $blue-350-dark,
    "blue-400": $blue-400-dark,
    "blue-450": $blue-450-dark,
    "blue-500": $blue-500-dark,
    "blue-550": $blue-550-dark,
    "blue-600": $blue-600-dark,
    "blue-650": $blue-650-dark,
    "blue-700": $blue-700-dark,
    "blue-750": $blue-750-dark,
    "blue-800": $blue-800-dark,
    "blue-850": $blue-850-dark,
    "blue-900": $blue-900-dark,
    "blue-950": $blue-950-dark
);

$blues: map-merge($blues, $blues-custom);

$purples-custom: (
    "purple-50": $purple-50,
    "purple-150": $purple-150,
    "purple-250": $purple-250,
    "purple-350": $purple-350,
    "purple-450": $purple-450,
    "purple-550": $purple-550,
    "purple-650": $purple-650,
    "purple-750": $purple-750,
    "purple-850": $purple-850,
    "purple-950": $purple-950
);

$purples-custom-dark: (
    "purple-50": $purple-50-dark,
    "purple-100": $purple-100-dark,
    "purple-150": $purple-150-dark,
    "purple-200": $purple-200-dark,
    "purple-250": $purple-250-dark,
    "purple-300": $purple-300-dark,
    "purple-350": $purple-350-dark,
    "purple-400": $purple-400-dark,
    "purple-450": $purple-450-dark,
    "purple-500": $purple-500-dark,
    "purple-550": $purple-550-dark,
    "purple-600": $purple-600-dark,
    "purple-650": $purple-650-dark,
    "purple-700": $purple-700-dark,
    "purple-750": $purple-750-dark,
    "purple-800": $purple-800-dark,
    "purple-850": $purple-850-dark,
    "purple-900": $purple-900-dark,
    "purple-950": $purple-950-dark
);

$purples: map-merge($purples, $purples-custom);

$pinks-custom: (
    "pink-50": $pink-50,
    "pink-150": $pink-150,
    "pink-250": $pink-250,
    "pink-350": $pink-350,
    "pink-450": $pink-450,
    "pink-550": $pink-550,
    "pink-650": $pink-650,
    "pink-750": $pink-750,
    "pink-850": $pink-850,
    "pink-950": $pink-950
);

$pinks-custom-dark: (
    "pink-50": $pink-50-dark,
    "pink-100": $pink-100-dark,
    "pink-150": $pink-150-dark,
    "pink-200": $pink-200-dark,
    "pink-250": $pink-250-dark,
    "pink-300": $pink-300-dark,
    "pink-350": $pink-350-dark,
    "pink-400": $pink-400-dark,
    "pink-450": $pink-450-dark,
    "pink-500": $pink-500-dark,
    "pink-550": $pink-550-dark,
    "pink-600": $pink-600-dark,
    "pink-650": $pink-650-dark,
    "pink-700": $pink-700-dark,
    "pink-750": $pink-750-dark,
    "pink-800": $pink-800-dark,
    "pink-850": $pink-850-dark,
    "pink-900": $pink-900-dark,
    "pink-950": $pink-950-dark
);

$pinks: map-merge($pinks, $pinks-custom);

$reds-custom: (
    "red-50": $red-50,
    "red-150": $red-150,
    "red-250": $red-250,
    "red-350": $red-350,
    "red-450": $red-450,
    "red-550": $red-550,
    "red-650": $red-650,
    "red-750": $red-750,
    "red-850": $red-850,
    "red-950": $red-950
);

$reds-custom-dark: (
    "red-50": $red-50-dark,
    "red-100": $red-100-dark,
    "red-150": $red-150-dark,
    "red-200": $red-200-dark,
    "red-250": $red-250-dark,
    "red-300": $red-300-dark,
    "red-350": $red-350-dark,
    "red-400": $red-400-dark,
    "red-450": $red-450-dark,
    "red-500": $red-500-dark,
    "red-550": $red-550-dark,
    "red-600": $red-600-dark,
    "red-650": $red-650-dark,
    "red-700": $red-700-dark,
    "red-750": $red-750-dark,
    "red-800": $red-800-dark,
    "red-850": $red-850-dark,
    "red-900": $red-900-dark,
    "red-950": $red-950-dark
);

$reds: map-merge($reds, $reds-custom);

$oranges-custom: (
    "orange-50": $orange-50,
    "orange-150": $orange-150,
    "orange-250": $orange-250,
    "orange-350": $orange-350,
    "orange-450": $orange-450,
    "orange-550": $orange-550,
    "orange-650": $orange-650,
    "orange-750": $orange-750,
    "orange-850": $orange-850,
    "orange-950": $orange-950
);

$oranges-custom-dark: (
    "orange-50": $orange-50-dark,
    "orange-100": $orange-100-dark,
    "orange-150": $orange-150-dark,
    "orange-200": $orange-200-dark,
    "orange-250": $orange-250-dark,
    "orange-300": $orange-300-dark,
    "orange-350": $orange-350-dark,
    "orange-400": $orange-400-dark,
    "orange-450": $orange-450-dark,
    "orange-500": $orange-500-dark,
    "orange-550": $orange-550-dark,
    "orange-600": $orange-600-dark,
    "orange-650": $orange-650-dark,
    "orange-700": $orange-700-dark,
    "orange-750": $orange-750-dark,
    "orange-800": $orange-800-dark,
    "orange-850": $orange-850-dark,
    "orange-900": $orange-900-dark,
    "orange-950": $orange-950-dark
);

$oranges: map-merge($oranges, $oranges-custom);

$yellows-custom: (
    "yellow-50": $yellow-50,
    "yellow-150": $yellow-150,
    "yellow-250": $yellow-250,
    "yellow-350": $yellow-350,
    "yellow-450": $yellow-450,
    "yellow-550": $yellow-550,
    "yellow-650": $yellow-650,
    "yellow-750": $yellow-750,
    "yellow-850": $yellow-850,
    "yellow-950": $yellow-950
);

$yellows-custom-dark: (
    "yellow-50": $yellow-50-dark,
    "yellow-100": $yellow-100-dark,
    "yellow-150": $yellow-150-dark,
    "yellow-200": $yellow-200-dark,
    "yellow-250": $yellow-250-dark,
    "yellow-300": $yellow-300-dark,
    "yellow-350": $yellow-350-dark,
    "yellow-400": $yellow-400-dark,
    "yellow-450": $yellow-450-dark,
    "yellow-500": $yellow-500-dark,
    "yellow-550": $yellow-550-dark,
    "yellow-600": $yellow-600-dark,
    "yellow-650": $yellow-650-dark,
    "yellow-700": $yellow-700-dark,
    "yellow-750": $yellow-750-dark,
    "yellow-800": $yellow-800-dark,
    "yellow-850": $yellow-850-dark,
    "yellow-900": $yellow-900-dark,
    "yellow-950": $yellow-950-dark
);

$yellows: map-merge($yellows, $yellows-custom);

$greens-custom: (
    "green-50": $green-50,
    "green-150": $green-150,
    "green-250": $green-250,
    "green-350": $green-350,
    "green-450": $green-450,
    "green-550": $green-550,
    "green-650": $green-650,
    "green-750": $green-750,
    "green-850": $green-850,
    "green-950": $green-950
);

$greens-custom-dark: (
    "green-50": $green-50-dark,
    "green-100": $green-100-dark,
    "green-150": $green-150-dark,
    "green-200": $green-200-dark,
    "green-250": $green-250-dark,
    "green-300": $green-300-dark,
    "green-350": $green-350-dark,
    "green-400": $green-400-dark,
    "green-450": $green-450-dark,
    "green-500": $green-500-dark,
    "green-550": $green-550-dark,
    "green-600": $green-600-dark,
    "green-650": $green-650-dark,
    "green-700": $green-700-dark,
    "green-750": $green-750-dark,
    "green-800": $green-800-dark,
    "green-850": $green-850-dark,
    "green-900": $green-900-dark,
    "green-950": $green-950-dark
);

$greens: map-merge($greens, $greens-custom);

$palette-colors: map-merge-multiple(
    $primary-custom,
    $blues,
    $purples,
    $pinks,
    $reds,
    $oranges,
    $yellows,
    $greens
);

$palette-colors-dark: map-merge-multiple(
    $primary-custom-dark,
    $blues-custom-dark,
    $purples-custom-dark,
    $pinks-custom-dark,
    $reds-custom-dark,
    $oranges-custom-dark,
    $yellows-custom-dark,
    $greens-custom-dark
);

$socialmedia-colors: (
    "twitch":   $twitch,
    "youtube":  $youtube,
    "twitter":  $twitter,
    "linkedin": $linkedin,
    "github":   $github,
    "facebook": $facebook,
    "rss":      $rss,
    "chat":     $chat,
    "google":   $google,
    "website":  $website,
    "mastodon": $mastodon,
    "bluesky":  $bluesky,
    "podcast":  $podcast
);

$colors-rgb: map-loop($colors, to-rgb, "$value");

$colors-dark: (
    "blue":       $blue-dark,
    "indigo":     $indigo-dark,
    "purple":     $purple-dark,
    "pink":       $pink-dark,
    "red":        $red-dark,
    "orange":     $orange-dark,
    "yellow":     $yellow-dark,
    "green":      $green-dark,
    "teal":       $teal-dark,
    "cyan":       $cyan-dark,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-500,
    "gray-dark":  $dark
);

$theme-colors-custom: (
    "tip":        $purple
);

$theme-colors-dark-custom: (
    "tip":        $purple-dark
);

$theme-colors-dark: (
    "primary":    $primary-dark,
    "secondary":  $secondary-dark,
    "success":    $success-dark,
    "info":       $info-dark,
    "warning":    $warning-dark,
    "danger":     $danger-dark,
    "light":      $light,
    "dark":       $dark
);

$theme-colors: map-merge($theme-colors, $theme-colors-custom);
$theme-colors-dark: map-merge($theme-colors-dark, $theme-colors-dark-custom);

$spacers-custom: (
    6: $spacer * 6,
    7: $spacer * 12,
    8: $spacer * 20,
    "c45":     .45rem,
    "c75":     .75rem,
    "c1-25":   1.25rem,
    "c1-75":   1.75rem,
    "c2":      2rem,
    "c2-25":   2.25rem,
    "c2-75":   2.75rem,
    "c3-75":   3.75rem,
    "c4":      4rem,
    "c4-5":    4.5rem,
    "c4-75":   4.75rem,
    "c5":      5rem,
    "c6":      6rem,
    "c7":      7rem,
    "c5-px":   5px,
    "c10-px":  10px,
    "c15-px":  15px,
    "c20-px":  20px,
    "c30-px":  30px,
    "c35-px":  35px,
    "c40-px":  40px,
    "c50-px":  50px,
    "c60-px":  60px,
    "c65-px":  65px,
    "c70-px":  70px,
    "c75-px":  75px,
    "c80-px":  80px,
    "c90-px":  90px,
    "c100-px": 100px,
    "c125-px": 125px,
    "c130-px": 130px,
    "c200-px": 200px,
    "c250-px": 250px,
    "c300-px": 300px,
    "c400-px": 400px,
    "c500-px": 500px
);

$sizing-px: (
    0: 0,
    5: 5px,
    10: 10px,
    15: 15px,
    16: 16px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    50: 50px,
    60: 60px,
    65: 65px,
    70: 70px,
    75: 75px,
    80: 80px,
    90: 90px,
    100: 100px,
    125: 125px,
    130: 130px,
    200: 200px,
    250: 250px,
    300: 300px,
    400: 400px,
    500: 500px
);

$sizing-percent: (
    0: 0%,
    5: 5%,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    50: 50%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%,
    125: 125%,
    130: 130%,
    200: 200%,
    250: 250%,
    300: 300%,
    400: 400%,
    500: 500%,
    auto: auto
);

$spacers: map-merge($spacers, $spacers-custom);

$grid-breakpoints-custom: (
    xxxl: 1600px
);

$grid-breakpoints: map-merge($grid-breakpoints, $grid-breakpoints-custom);

$container-max-widths-custom: (
    xxxl: 1536px
);

$container-max-widths: map-merge($container-max-widths, $container-max-widths-custom);

$aspect-ratios-custom: (
    "700x506": calc(506 / 700 * 100%),
    "1200x630": calc(630 / 1200 * 100%)
);

$aspect-ratios: map-merge($aspect-ratios, $aspect-ratios-custom);

$zindex-levels-custom: (
    4: 4,
    5: 5,
    1021: 1021
);

$zindex-levels: map-merge($zindex-levels, $zindex-levels-custom);
