packages/ccm/CREDITS.md                           @chocolatey/chocolatey-credits-reviewers
packages/ccm/CREDITS.pdf                          @chocolatey/chocolatey-credits-reviewers
packages/ccm/CREDITS.json                         @chocolatey/chocolatey-credits-reviewers
