CREDITS.md                           @chocolatey/chocolatey-credits-reviewers
CREDITS.pdf                          @chocolatey/chocolatey-credits-reviewers
CREDITS.json                         @chocolatey/chocolatey-credits-reviewers
