.notification-badge {
    position: absolute;
    font-weight: 700;
    color: var(--bs-danger-contrast);
    background: var(--bs-danger);
    border-radius: 100%;
    writing-mode: horizontal-tb;
}

.btn-collapsing-left-sidebar,
.btn-collapsing-right-sidebar {
    position: fixed;
    z-index: 1030;

    .notification-badge {
        top: -10px;
        width: 25px;
        height: 25px;
        font-size: 80%;
        line-height: 24px;
    }
}

.btn-collapsing-right-sidebar {
    top: 40%;
    right: 0;
    width: auto !important;
    border-radius: 50% 0 0 50%;

    .notification-badge {
        right: 20px;
    }
}

.btn-collapsing-left-sidebar {
    top: 34%;
    left: 400px;
    width: 50px;
    border-radius: 0 .25rem .25rem 0;

    .notification-badge {
        left: 35px;
    }
}

#navScriptBuilder {
    border-right: 3px solid var(--bs-secondary);
}

#offcanvasRightAnnouncements {
    border-left: 3px solid var(--bs-primary);
}

.btn-announcements.btn-announcement-notifications .notification-badge {
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    font-size: 70%;
    line-height: 18px;
}
