body > header:not(.DocSearch-SearchBar) { /* stylelint-disable-line */
    border-bottom: 1px solid var(--bs-border-color);
}

#topNav {
    background: var(--bs-secondary-bg);

    .navbar-toggler {
        line-height: 1.5;

        &:focus {
            box-shadow: 0 0 0 .25rem $primary-opacity-25;
        }
    }

    .navbar-brand img {
        &:not(.navbar-brand-desktop) {
            height: 50px;
        }
    }

    .nav-item:focus-visible {
        color: var(--bs-primary);
        outline: 0;

        .nav-link {
            outline: 0;
        }
    }

    .nav-link {
        font-weight: 700;
        color: var(--bs-body-color);

        &:focus-visible {
            color: var(--bs-primary);
            outline: 0;
        }

        &[aria-expanded="true"],
        &:hover {
            color: var(--bs-primary);
        }
    }

    .dropdown-hover {
        &.active {
            .dropdown-toggle {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .dropdown-toggle {
            &:focus-visible {
                box-shadow: none;
            }

            &::after{
                display: inline-block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                margin-left: 0;
                font: var(--fa-font-solid);
                vertical-align: unset;
                content: "\f107";
                border-top: none;
                transition: transform .35s;
            }

            + .dropdown-menu {
                a {
                    color: var(--bs-body-color);

                    &:hover {
                        color: var(--bs-primary);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #topNav {
        .dropdown-hover {
            .dropdown-toggle {
                + .dropdown-menu {
                    --bs-dropdown-border-width: 0;

                    .border-start,
                    .border-end {
                        border: 0 !important;
                    }
                }
            }
        }

        .navbar-collapse {
            margin-right: calc(var(--bs-gutter-x) * -.5);
            margin-left: calc(var(--bs-gutter-x) * -.5);

            &.collapsing,
            &.show {
                border-top: 1px solid var(--bs-border-color);
            }

            .nav-link {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            .btn:not(.dropdown-toggle) {
                margin-left: 1rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        --dropdown-hover-menu-placement: 90px;

        &.navbar {
            padding-top: 0;
            padding-bottom: 0;
        }

        .navbar-brand {
            position: absolute;
            padding-top: 0;
            padding-bottom: 0;

            img {
                &.navbar-brand-desktop {
                    position: relative;
                    top: -20px;
                    z-index: 1;
                    height: 100px;
                }
            }
        }

        .nav-link {
            padding-top: 0;
            padding-right: 1rem;
            padding-bottom: 0;
            padding-left: 1rem;
            line-height: var(--dropdown-hover-menu-placement);
        }

        .dropdown-hover {
            position: relative;

            &.active {
                &::before,
                &::after {
                    position: absolute;
                    width: 0;
                    height: 0;
                    clear: both;
                    content: "";
                }

                &::before {
                    top: 70px;
                    left: calc(1rem + 15px);
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid var(--bs-border-color);
                    border-left: 15px solid transparent;
                }

                &::after {
                    top: 72px;
                    left: calc(1rem + 13px);
                    z-index: 9999;
                    border-right: 17px solid transparent;
                    border-bottom: 17px solid var(--bs-secondary-bg);
                    border-left: 17px solid transparent;
                }
            }
        }

        .dropdown,
        .dropdown-hover {
            .dropdown-toggle {
                + .dropdown-menu {
                    top: calc(var(--dropdown-hover-menu-placement) - 12px);

                    &.dropdown-menu-md-end {
                        right: 0;
                    }

                    &.dropdown-menu-e-195 {
                        right: -195%;
                    }

                    &.dropdown-menu-s-195 {
                        left: -195%;
                    }

                    &.dropdown-menu-s-250 {
                        left: -250%;
                    }

                    &.dropdown-menu-550 {
                        --bs-dropdown-min-width: 550px;
                    }

                    &.dropdown-menu-700 {
                        --bs-dropdown-min-width: 700px;
                    }
                }
            }
        }

        .dropdown-menu {
            box-shadow: 0 .5rem 1rem rgba(var(--bs-blue-rgb), 20%);
        }
    }

    // Overrides
    .chocolatey-design,
    .chocolatey-docs,
    .chocolatey-license-portal {
        #topNav {
            height: 90px;
        }
    }

    .chocolatey-docs {
        #topNav {
            .navbar-brand + div {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .community-chocolatey-org {
        #topNav {
            .dropdown,
            .dropdown-hover {
                .dropdown-toggle {
                    + .dropdown-menu {
                        &.dropdown-menu-connect {
                            left: -250%;
                        }
                    }
                }
            }
        }
    }

    .community-chocolatey-org.community-list-packages {
        #topNav {
            .dropdown,
            .dropdown-hover {
                .dropdown-toggle {
                    + .dropdown-menu {
                        &.dropdown-menu-product {
                            right: -250%;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .community-chocolatey-org:not(.community-list-packages) {
        #topNav {
            .dropdown,
            .dropdown-hover {
                .dropdown-toggle {
                    + .dropdown-menu {
                        &.dropdown-menu-product {
                            left: -250%;
                        }
                    }
                }
            }
        }
    }
}
