@import "datatables.net-bs5/css/dataTables.bootstrap5";

// DataTables custom
:root {
    --dt-row-selected: var(--bs-primary-rgb);
}

div.dt-container div {
    .dt-info {
        padding-top: 0;
        margin-right: 0 !important;
    }

    .dt-length {
        display: flex;
        align-items: center;
    
        &::before {
            display: inline-block;
            content: '||';
            color: var(--bs-body-color);
            margin: 0 1rem;
        }
    
        select {
            width: fit-content;
            margin-right: .5rem;
        }
    }
}

table.table {
    >tbody>tr {
        .selected {
            box-shadow: unset !important;
            background-color: var(--bs-primary) !important;
            color: var(--bs-primary-contrast) !important;
            font-weight: bold !important;
        }
    }

    &.dataTable {
        &.table-striped>tbody>tr:nth-of-type(odd) {
            >* {
                box-shadow: unset;
                background: var(--bs-secondary-bg);
            }
        }

        td.dt-type-date,
        td.dt-type-numeric,
        th.dt-type-date,
        th.dt-type-numeric {
            text-align: left;
        }
    }

    tr {
        vertical-align: middle;
    }
}

table.dataTable thead > tr > th {
    &.dt-orderable-asc, 
    &.dt-orderable-desc, 
    &.dt-ordering-asc, 
    &.dt-ordering-desc {
      padding-right: 40px;
    }
  
    &.dt-orderable-asc span.dt-column-order, 
    &.dt-orderable-desc span.dt-column-order {
      width: 20px;
    }
  
    &.dt-orderable-asc span.dt-column-order {
      &::before, 
      &::after {
        opacity: 1;
        color: var(--bs-body-color);
        font-size: 1em;
        line-height: 15px;
      }
    }
  
    &.dt-orderable-desc span.dt-column-order {
      &::before, 
      &::after {
        opacity: 1;
        color: var(--bs-body-color);
        font-size: 1em;
        line-height: 15px;
      }
    }
  
    &.dt-ordering-asc span.dt-column-order::before, 
    &.dt-ordering-desc span.dt-column-order::after {
      color: var(--bs-primary);
      font-size: 1em;
      line-height: 15px;
    }
  }
  