body {
    &.user-authenticated {
        #topNav .nav-item.user-authenticated,
        #topNav .dropdown.user-authenticated {
            display: flex !important;
            align-items: center;
        }

        .user-authenticated {
            display: block !important;
        }

        .user-unauthenticated {
            display: none !important;
        }
    }

    &.user-unauthenticated {
        #topNav .nav-item.user-unauthenticated {
            display: flex !important;
            align-items: center;
        }

        .user-authenticated {
            display: none !important;
        }

        .user-unauthenticated {
            display: block !important;
        }
    }

    .user-authenticated,
    .user-unauthenticated {
        display: none !important;
    }
}
