/* Background Colors with Contrasting Text */
@each $color, $value in $colors {
    .text-bg-#{$color} {
        color: var(--bs-#{$color}-contrast);
        background-color: var(--bs-#{$color});
    }

    .fill-#{$color} {
        fill: $value;
    }
}

@each $color, $value in $palette-colors {
    .text-bg-#{$color} {
        color: var(--bs-#{$color}-contrast);
        background-color: var(--bs-#{$color});
    }
}

@each $color, $value in $theme-colors {
    .text-bg-#{$color} {
        color: var(--bs-#{$color}-contrast) !important;
        background-color: var(--bs-#{$color}) !important;
    }

    .fill-#{$color} {
        fill: var(--bs-#{$color});
    }
}

.fill-bg-body-contrast {
    fill: var(--bs-body-color);
}

.text-bg-body {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.text-bg-body-secondary {
    color: var(--bs-secondary-bg-contrast) !important;
    background: var(--bs-secondary-bg) !important;
}

.text-bg-body-tertiary {
    color: var(--bs-tertiary-bg-contrast) !important;
    background: var(--bs-tertiary-bg) !important;
}

.text-bg-body-contrast {
    color: var(--bs-body-bg) !important;
    background: var(--bs-body-color) !important;
}

.text-bg-adaptive {
    color: var(--bs-body-color) !important;
    background: var(--choco-adaptive) !important;
}

/* Background Colors */
@each $color, $value in $socialmedia-colors {
    .text-bg-#{$color} {
        color: color-contrast($value) if($enable-important-utilities, !important, null);
        background: $value;

        &:hover {
            background: shade-color($value, 15%);
        }
    }
}

a.circle.text-bg-body-contrast:hover {
    background: rgba(var(--bs-body-color-rgb), .9);
}

.fill-bg-body-tertiary {
    fill: var(--bs-tertiary-bg) !important;
}

.bg-primary-opacity-25 {
    background: $primary-opacity-25 !important;
}


.bg-gradient-body-secondary {
    background-image: linear-gradient(-180deg, var(--bs-body-bg), var(--bs-secondary-bg));
}

.bg-gradient-secondary-body {
    background-image: linear-gradient(-180deg, var(--bs-secondary-bg), var(--bs-body-bg));
}

.bg-gradient-secondary-adaptive {
    background-image: linear-gradient(-180deg, var(--bs-secondary-bg), var(--choco-adaptive));
}

.bg-gradient-body-adaptive {
    background-image: linear-gradient(-180deg, var(--bs-body-bg), var(--choco-adaptive));
}

.bg-gradient-adaptive-body {
    background-image: linear-gradient(-180deg, var(--choco-adaptive), var(--bs-body-bg));
}

.bg-gradient-adaptive-secondary {
    background-image: linear-gradient(-180deg, var(--choco-adaptive), var(--bs-secondary-bg));
}

/* Background Utilities */
.bg-img-cover {
    z-index: 1;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    backface-visibility: hidden;
}

/* Background Images */
.bg-sun-tornado {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/sun-tornado.svg");
}

.bg-liquid-cheese {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/liquid-cheese.svg");
}

.bg-wintery-sunburst {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/wintery-sunburst.svg");
}

.bg-bullseye-gradient {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/bullseye-gradient.svg");
}

.bg-geometric-intersection {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/geometric-intersection.svg");
}

.bg-cornered-stairs {
    background-image: url("https://img.chocolatey.org/svg-backgrounds/cornered-stairs.svg");
}

.bg-snowflake {
    background: url("https://img.chocolatey.org/backgrounds/snowflake-background.png");
    background-repeat: repeat;
}

.bg-desk {
    background: linear-gradient(135deg, rgba(var(--bs-primary-rgb), .8) 0%, rgba(var(--bs-primary-rgb), .8) 100%), url("https://img.chocolatey.org/headers/c4b-banner.jpg");
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#e61a375a", endColorstr="#e67db9e8", GradientType=1);
}

.bg-san-fran-skyline {
    background-image: url("https://img.chocolatey.org/stock/sanfran-skyline-original.jpg");
}

.img-berry {
    width: 30px;
}

.speaker-img-overlay-container {
    &:hover {
        .speaker-img-overlay {
            opacity: 1;
        }
    }

    .speaker-img-overlay {
        max-width: 100%;
        background-color: rgba(var(--bs-warning-rgb), .8);
        opacity: 0;
        transition: .5s ease;
    }
}

.bg-architect-factory {
    background-image: radial-gradient(circle, rgba(var(--bs-body-bg-rgb), 0) 0%, rgba(var(--bs-body-bg-rgb), 1) 100%), linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 1) 0%, rgba(var(--bs-body-bg-rgb), 0) 15%), linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 0) 85%, rgba(var(--bs-body-bg-rgb), 1) 100%), url("/assets/images/architect-factory.svg");
}

.bg-architect-factory-top {
    background-image: linear-gradient(to right, rgba(var(--bs-body-bg-rgb), .4) 0%, rgba(var(--bs-body-bg-rgb), 1) 30%, rgba(var(--bs-body-bg-rgb), 1) 70%, rgba(var(--bs-body-bg-rgb), .4) 100%), linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 0) 85%, rgba(var(--bs-body-bg-rgb), 1) 100%), url("/assets/images/architect-factory.svg");
}

.bg-architect-factory-bottom-primary {
    background-image: linear-gradient(to right, rgba(var(--bs-body-bg-rgb), .4) 0%, rgba(var(--bs-body-bg-rgb), 1) 30%, rgba(var(--bs-body-bg-rgb), 1) 70%, rgba(var(--bs-body-bg-rgb), .4) 100%), linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 1) 0%, rgba(var(--bs-body-bg-rgb), 0) 15%), url("/assets/images/architect-factory-green.svg");
}

.bg-retrowave1,
.bg-retrowave2 {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center;
        background-size: cover;
    }
}

.bg-retrowave1::before {
    height: 80%;
    background-color: var(--bs-body-bg);
    background-image: linear-gradient(-180deg, transparent, var(--bs-body-bg)), url("https://img.chocolatey.org/backgrounds/retrowave1.svg");
}

.chocolatey-docs,
#calculator {
    .bg-retrowave1::before {
        height: 100%;
    }
}

#calculator .bg-retrowave1 * {
    z-index: 1;
}

.bg-retrowave2 {
    &::before {
        background-color: var(--choco-adaptive);
        background-image: linear-gradient(180deg, transparent 80%, var(--choco-adaptive) 100%), linear-gradient(0deg, transparent 80%, var(--choco-adaptive) 100%), url("https://img.chocolatey.org/backgrounds/retrowave2.svg");

    }

    .card {
        --bs-card-border-color: #{rgba(var(--bs-primary-rgb), .2)};
    }
}

.slant-top-end {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

@include media-breakpoint-up(md) {
    .img-berry {
        width: 40px;
    }
}
