// Checkboxes
.form-check {
    .form-check-input {
        &.is-invalid {
            border-color: var(--bs-danger);
        }
    }

    .form-text,
    .invalid-feedback {
        margin-top: 0;
    }
}

// Checkbox buttons
.btn-check + .btn.btn-outline-secondary:hover {
    background-color: var(--bs-secondary);
    color: var(--secondary-contrast);
}

// Custom Switches
.form-switch {
    &.form-switch-active,
    &.form-switch-expired,
    &.form-switch-deactivated,
    &.form-switch-latest {
        .form-check-input {
            width: 3rem;
            margin-right: .75rem;
            background-image: none !important;

            &:active {
                filter: unset;
            }

            &:not(:active):not(:focus) {
                box-shadow: none !important;
            }

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                display: inline-block;
                width: 25px;
                height: 25px;
                font: var(--fa-font-solid);
                font-size: .875em;
                line-height: 1.7;
                text-align: center;
                content: "";
                border-radius: 100%;
                transform: translateY(-50%);
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }

            &:checked::before,
            &:checked::after {
                right: -1px;
            }

            &:not(:checked)::before,
            &:not(:checked)::after {
                left: -1px;
            }
        }
    }

    &.form-switch-active .form-check-input {
        &::after {
            color: var(--bs-success-contrast);
            content: "\f00c";
        }

        &::before {
            border: 1px solid var(--bs-success);
        }

        &:checked,
        &::before {
            background: var(--bs-success);
        }
    }

    &.form-switch-expired .form-check-input {
        &::after {
            color: var(--bs-danger-contrast);
            content: "\21";
        }

        &::before {
            border: 1px solid var(--bs-danger);
        }

        &:checked,
        &::before {
            background: var(--bs-danger);
        }
    }

    &.form-switch-deactivated .form-check-input {
        &::after {
            color: var(--bs-secondary-contrast);
            content: "\f05e";
        }

        &::before {
            border: 1px solid var(--bs-secondary);
        }

        &:checked,
        &::before {
            background: var(--bs-secondary);
        }

        &:not(:checked)::after {
            left: -.5px;
        }

        &:checked::after {
            right: -1.5px;
        }
    }

    &.form-switch-latest .form-check-input {
        &::after {
            color: var(--bs-warning);
            content: "\f005";
        }

        &::before {
            background: var(--bs-secondary-bg);
            border: 1px solid var(--bs-warning);
        }

        &:checked {
            background: var(--bs-warning);
        }

        &:not(:checked)::after {
            left: -1.5px;
        }

        &:checked::after {
            right: -.5px;
        }
    }
}

// Markdown task lists
.task-list-item {
    .form-check {
        display: inline-block;
        min-height: $spacer;
        margin-right: -.5rem;

        .form-check-input {
            opacity: 1;

            &:not(:checked) {
                &[disabled],
                &:disabled {
                    background: var(--bs-secondary-bg);
                    border-color: var(--bs-secondary);
                    opacity: 1;
                }
            }
        }
    }
}

.d-label-none label {
    display: none;
}

// Disabled inputs
label:has(+ input:disabled),
label:has(+ textarea:disabled),
input:disabled ~ .form-text,
input:disabled ~ label,
textarea:disabled ~ .form-text {
    font-style: italic;
}
