/* Line Height */
.lh-75 {
    line-height: .75;
}

/* Borders */
hr {
    color: var(--bs-border-color);
    opacity: 1;
}

.border-hr {
    width: 50px;
    margin-left: 0;
}

.border-hr-lg {
    width: 250px;
    margin: 0 auto;
}

.border-hr,
.border-hr-lg {
    border: 3px solid var(--bs-primary);
    border-radius: $border-radius;
}

/* Container Text Size */
.container-text-small {
    p,
    ul,
    i {
        font-size: $small-font-size;
    }
}

.container-text-large,
.container-text-large-md-small {
    p,
    ul,
    i {
        font-size: $font-size-lg;
    }
}

/* Show Specified Items */
.show-3 > *,
.show-6 > * {
    display: none;
    transition: all .3s ease;
}

.show-3 > *:nth-child(-n+3),
.show-6 > *:nth-child(-n+6) {
    display: block;
}

/* Box Shadow */
@each $color, $value in $colors {
    .box-shadow-#{$color} {
        box-shadow: 0 0 0 .25rem rgba($value, .25) !important;
    }
}

@include media-breakpoint-up(md) {
    .container-text-small-md-none,
    .container-text-large-md-none {
        p,
        ul,
        i {
            font-size: $font-size-base;
        }
    }

    .container-text-small-md,
    .container-text-large-md-small {
        p,
        ul,
        i {
            font-size: $small-font-size;
        }
    }

    .px-md-c4 {
        padding-right: $spacer * 4 !important;
        padding-left: $spacer * 4 !important;
    }

    .pe-md-c75 {
        padding-right: .75rem !important;
    }
}

@include media-breakpoint-up(xl) {
    .sticky-xl-top {
        max-height: 100vh;
        overflow: auto;
    }
}
