.text-adaptive {
    color: var(--choco-adaptive) !important;
}

.link-theme {
    color: var(--bs-body-color) !important;

    &:hover {
        color: var(--bs-primary) !important;
    }
}

.ct-label {
    color: var(--bs-body-color);
    fill: var(--bs-body-color);
}

.text-transform-none {
    text-transform: none !important;
}

.text-break-none {
    word-break: keep-all;
}

/* Plugin looks for elements with class named "balance-text" */
.balance-text {
    text-wrap: balance;  /* Apply (proposed) CSS style */
}

.text-shiny {
    display: inline-block;
    background: linear-gradient(110deg, var(--text-shiny-color), 45%, var(--bs-primary), 55%, var(--bs-body-color));
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 260% auto;
    -webkit-text-fill-color: transparent;
    animation: text-shine 3s ease-out .5s;
}

@keyframes text-shine {
    to {
        background-position: -200%;
    }
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: .25s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
