#cookieNoticeAlert {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}

@mixin alert-style($color, $value) {
    color: var(--bs-#{$color}-contrast) !important;
    background: var(--bs-#{$color}) !important;

    a {
        color: var(--bs-#{$color}-contrast) !important;
    }

    .btn-close {
        color: var(--bs-#{$color}-contrast) !important;
        filter: unset !important;
        opacity: .75;

        &:hover {
            opacity: 1;
        }
    }
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-style($color, $value);
    }
}

@each $color, $value in $colors {
    .alert-#{$color} {
        @include alert-style($color, $value);
    }
}

.alert-dismissible-center {
    display: block;
    padding: .5rem 2.5rem .5rem 15px;
    font-size: $small-font-size;
    text-align: center;

    &.alert-btn-center {
        padding: .5rem 15px;
    }

    .btn-close {
        padding: .42rem 15px;
    }

    .btn {
        width: 100%;
        margin-top: $spacer;
    }
}

@include media-breakpoint-up(sm) {
    .alert-dismissible-center {
        padding: .5rem 15px;

        .btn {
            width: 50%;
        }
    }
}

@include media-breakpoint-up(md) {
    .alert-dismissible-center {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: $font-size-base;
        text-align: center;

        .btn-close {
            padding: .55rem 15px;
        }

        .btn {
            width: auto;
            margin-top: 0;
            margin-left: $spacer;
        }
    }
}
