.btn {
    min-height: 45px;
    min-width: 45px;
}

.btn-close
{
    display: flex;
    align-items: center;
    justify-content: center;
}

// Outline button with badge
.btn-outline-primary {
    &:hover,
    &:active {
        .badge {
            color: var(--bs-primary) !important;
            background: var(--bs-primary-contrast) !important;
        }
    }
}

.btn-link:focus-visible {
    outline: 1px auto var(--bs-body-color);
    outline-offset: 1px;
    box-shadow: unset;
}

// Navbar toggler
.navbar-toggler {
    &:hover .fa-solid {
        color: $dark;
    }

    .fa-solid {
        color: var(--bs-primary);
    }
}

// Custom buttons
.btn-link:hover {
    text-decoration: underline;
}

button.btn-grab:not(:disabled) {
    cursor: grab;
}

.sortable-chosen button.btn-grab:not(:disabled) {
    cursor: grabbing;
}

.btn-bg-body,
.btn-bg-body-contrast,
.btn-outline-bg-body,
.btn-outline-bg-body-contrast,
.btn-bg-body-tertiary {
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
}

.btn-bg-body,
.btn-bg-body-contrast,
.btn-outline-bg-body,
.btn-outline-bg-body-contrast,
.btn-bg-body-tertiary,
.btn-top-nav {
    --bs-btn-active-shadow: #{$btn-active-box-shadow};
}

.btn-top-nav {
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--choco-border-color-adaptive);
    --bs-btn-hover-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-secondary-color);
    --bs-btn-disabled-border-color: var(--choco-border-color-adaptive);
}

.btn-bg-body {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-body-bg-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-bg: var(--bs-body-bg);
    --bs-btn-disabled-border-color: var(--bs-body-bg);
}

.btn-bg-body-contrast {
    --bs-btn-color: var(--bs-body-bg);
    --bs-btn-bg: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-bg);
    --bs-btn-hover-bg: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-active-color: var(--bs-body-bg);
    --bs-btn-active-bg: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-body-color-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-bg);
    --bs-btn-disabled-bg: var(--bs-body-color);
    --bs-btn-disabled-border-color: var(--bs-body-color);
}

.btn-bg-body-tertiary {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-tertiary-bg);
    --bs-btn-border-color: var(--bs-tertiary-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-active-border-color: rgba(var(--bs-tertiary-bg-rgb), .9);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-bg: var(--bs-tertiary-bg);
    --bs-btn-disabled-border-color: var(--bs-tertiary-bg);
}

.btn-outline-bg-body {
    --bs-btn-color: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-bg);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-body-bg);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: var(--bs-body-bg);
    --bs-btn-active-border-color: var(--bs-body-bg);
    --bs-btn-disabled-color: var(--bs-body-bg);
    --bs-btn-disabled-border-color: var(--bs-body-bg);
}

.btn-outline-bg-body-contrast {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-bg);
    --bs-btn-hover-bg: var(--bs-body-color);
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-active-color: var(--bs-body-bg);
    --bs-btn-active-bg: var(--bs-body-color);
    --bs-btn-active-border-color: var(--bs-body-color);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-disabled-border-color: var(--bs-body-color);
}

.btn-outline-hover-secondary {
    --#{$prefix}btn-color: var(--bs-body-color);
    --#{$prefix}btn-hover-color: var(--bs-body-color);
    --#{$prefix}btn-hover-border-color: var(--bs-secondary);
    --#{$prefix}btn-active-color: var(--bs-body-color);
    --#{$prefix}btn-active-border-color: var(--bs-secondary);
    --#{$prefix}btn-disabled-color: var(--bs-body-color);
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix(color-contrast($secondary), $secondary, 15%))};
    --#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), .5);
}

.btn-reorder {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);

    &:focus {
        border: 3px solid var(--bs-primary);
        color: var(--bs-primary);
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        --#{$prefix}btn-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-bg: var(--#{$prefix}#{$color});
        --#{$prefix}btn-border-color: var(--#{$prefix}#{$color});
        --#{$prefix}btn-hover-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$color}-shift);
        --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color}-shift);
        // --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
        --#{$prefix}btn-active-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-active-bg: var(--#{$prefix}#{$color}-shift);
        --#{$prefix}btn-active-border-color: var(--#{$prefix}#{$color}-shift);
        // --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
        --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$color});
        --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color});
    }

    .btn-outline-#{$color} {
        --#{$prefix}btn-color: var(--bs-body-color);
        --#{$prefix}btn-border-color: var(--#{$prefix}#{$color});
        --#{$prefix}btn-hover-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$color});
        --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color});
        // --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
        --#{$prefix}btn-active-color: var(--#{$prefix}#{$color}-contrast);
        --#{$prefix}btn-active-bg: var(--#{$prefix}#{$color});
        --#{$prefix}btn-active-border-color: var(--#{$prefix}#{$color});
        // --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
        --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color});
        // --#{$prefix}btn-disabled-bg: transparent;
        --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color});
        // --#{$prefix}gradient: none;
    }
}

@each $color, $value in $socialmedia-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }

    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

@include media-breakpoint-down(sm) {
    .btn-cta.btn-lg {
        --bs-btn-font-size: 1.25rem;

        &.btn-link {
            padding-left: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    .btn-cta.btn-lg {
        --bs-btn-font-size: 1.75rem;
    }
}

@include media-breakpoint-up(md) {
    .btn-sm.btn-responsive {
        padding: .375rem .75rem;
        font-size: $font-size-base;
        border-radius: $border-radius;
    }
}
