.placeholder-container div {
    &:first-child {
        opacity: .3;
    }

    &:last-child {
        filter: saturate(2);
    }
}

:root:not([data-bs-theme]) {
    .placeholder-container div {
        &:first-child {
            filter: invert(1);
        }
    }
}

[data-bs-theme="dark"] {
    .placeholder-container div {
        &:first-child {
            filter: invert(1);
        }
    }
}
