.table {
    word-break: normal;

    thead:not(.text-wrap) {
        white-space: nowrap !important;
    }
}

.table-thead-d-none thead {
    display: none;
}

.table-col-3 {
    .table-sticky-header > div:first-child,
    tbody th,
    thead th {
        width: 40%;
        min-width: 200px;
    }

    .table-sticky-header > div:not(:first-child),
    tbody td {
        width: 20%;
        min-width: 100px;
    }

    .table-sticky table,
    .table-sticky-header {
        width: calc(100% - 1px);
        margin: auto;
    }

    .table-sticky-header {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
